{% extends 'flightres/base.html' %}
{% load static %}
{%block body%}
<style>
    tr th{
       color: #117BCC;

    }
</style>
<main class="admin-main">
    <table class="table table-hover table-stripped" style="font-size: 1.2em;">
        <thead>
        <tr>
            <th>CLINIC (CSB) NAME</th>
            <th>LOCATION</th>
            <th>PHONE NUMBER</th>
        </tr>
    </thead>

    {%for clinic in clinics%}
        <tr>
            <td>{{clinic.name}}</td>
            <td>{{clinic.location}}</td>
            <td>{{clinic.phone_number}}</td>
            <td><a href="{%url 'edit_clinic' clinic.id%}">Edit</a></td>
            
        </tr>
    {%endfor%}
    </table>
    <div class="pt-5">
    <a href="{%url 'register_clinic' %}" class="btn btn-primary mt-5" style="background: #117BCC; background: #117BCC;"> Register Clinic </a>
    </div>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if clinics.has_previous %}          
                <a href="?page={{ clinics.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ clinics.number }} of {{ clinics.paginator.num_pages }}.
            </span>

            {% if clinics.has_next %}
                <a href="?page={{ clinics.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
</main>
{%endblock%}