{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}


{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  th {
    color: #117BCC !important;
    font-weight: bold;
  }

  .heading {
    margin-bottom: 2.5%;
    font-size: 1.5rem;
  }
</style>


<!-- <div class="search">
  <form method="get" class="w-100" action="{% url 'shipments:search_shipment' %}">
    <button type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
    <input type="search" placeholder="shipment_id" name="search" />
  </form>
  {%if message%}
  <h6>{{message}}</h6>
  {%endif%}

  {%if results%}
  <p class="results">Found {{results}} clinic{{ results|pluralize }}</p>
  {%endif%}
</div> -->

<main class="admin-main">
  <div class="panel panel-default">

    <p class="heading" style="color: #117BCC;"> Clinics</p>

    <div>
      <a href="{% url 'clinic_upload' %}">
        <button type="submit" class="save btn btn-primary">Add Clinic</button>
      </a>
    </div>

    <div class="float-right" style="margin-top: 3.5%; margin-bottom: 0.25%">
      <p>Total registered clincs:
      <h4>{{count}}</h4>
      </p>
    </div>

    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="3"
        data-order=" [[ 2, " asc" ]]">
        <thead>
          <tr>
            <th>Clinic Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Profile</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%for clinic in clinics%}
          <tr>
            <td>{{clinic.name}}</td>
            <td>{{clinic.email}}</td>
            <td>{{clinic.address}}</td>
            <td>{{clinic.profile}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

{%endblock body%}

<script>

  // $(document).ready(function () {
  //     $('#dataTable').DataTable();
  // });
  $(document).ready(function () {
    $('#dataTable').DataTable({
      "paging": true,
      "pageLength": 10,
      "lengthChange": true,
      "searching": true,
      "filter": true,
      "ordering": true,
      "bInfo": true,
      "bSort": true,
      "autoWidth": true
    });
  });
</script>