{% extends 'flightres/base.html' %} {% load static %}

<!DOCTYPE html>

{% block body %}


<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  h2 {
    text-align: center;
  }

  .container {
    margin-left: 20%;
  }

  th {
    color: #117BCC;
    border-color: #EBEEF5;
  }

  .table>:not(:last-child)>:last-child>* {
    border-bottom-color: #EBEEF5;
  }

  .table>tr>td {
    border-bottom-color: #EBEEF5;
  }

  .table {
    margin-bottom: 4%;
  }

  .admin-main {
    position: relative;
    width: 80%;
    float: right;
  }
</style>

<main class="admin-main">
  <div class="panel panel-default">

    <h2> Shipments Details</h2>

    <div class="card" style="width: 100%;">
      <table class="table table-hover table-stripped" style="font-size: 1.2em">
        <thead>
          <tr>
            <th>clinic_name</th>
            <th>medication</th>
            <th>units</th>
            <th>delivery_date </th>
            <th> take_of_time</th>
            <th>delivery_time</th>
            <th>destination </th>
            <th> status</th>>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for shipment in view_profile %}

          <tr>

            <td>{{shipment.clinic_name}}</td>

            <td>{{shipment.medication}}</td>

            <td>{{shipment.units}}</td>

            <td>{{shipment.delivery_date}}</td>
            <td>{{shipment.take_of_time}}</td>
            <td>{{shipment.delivery_time}}</td>


            <td>{{shipment.destination}}</td>
            <td>{{shipment.status}}</td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</main>





<!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">shipment_id </th>
        <th scope="col">clinic_name</th>
        <th scope="col">medication</th>
        <th scope="col">units</th>
        <th scope="col">delivery_date </th>
        <th scope="col"> take_of_time</th>
        <th scope="col">delivery_time</th>
        <th scope="col">destination </th>
        <th scope="col"> status</th>

       
      </tr>
    </thead>
  
    <tbody>
        {% for shipment in view_profile %} 

      <tr>

        <td>{{shipment.shipment_id}}</td>
        <td>{{shipment.clinic_name}}</td>
     
        <td>{{shipment.medication}}</td>
    
        <td>{{shipment.units}}</td>
       
        <td>{{shipment.delivery_date}}</td>
        <td>{{shipment.take_of_time}}</td>
        <td>{{shipment.delivery_time}}</td>


        <td>{{shipment.destination}}</td>
        <td>{{shipment.status}}</td>

      </tr>
      {% endfor %}

    </tbody>
  </table> -->
{%endblock body%}