{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}



{% block body %}

<style>
  body {
      font-family: 'Nunito', sans-serif;
    }

  th{
    color: #117BCC !important;
    /* border-color: #EBEEF5; */
    font-weight: bold;
  }

  h3{
    margin-bottom: 5.5%;
    text-align: center;
  }
</style>

<main class="admin-main">
  <div class="panel panel-default">

    <div class="float-right" style="margin-top: 4%; margin-bottom: 0.25%;">
      <p style="color: #117BCC;">Total Completed Shipments:
      <h4>{{ completed_count }}</h4>
      </p>
    </div>

    <h3 style="color: #117BCC;"> Shipments Details</h3>


    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="3" data-order=" [[ 2, "asc" ]]">
          <thead>
              <tr>
                <th>Shipment Id </th>
                <th>Destination </th>
                <th> Delivery Time</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            {% for shipment in completed_list %}

          <tr>
            <td>{{shipment.shipment_id}}</td>
            <td>{{shipment.destination}}</td>
            <td>{{shipment.delivery_time}}</td>
            <td><a id="view_profile" href="{%url 'shipments:completed_profile' shipment.id%}"><button type="submit"
                  class="save btn btn-primary"> View Profile</button></td></a>
          </tr>

          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</main>

<script>
  $(function () {
    $('#dataTable').DataTable({
      "pageLength": 3,
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "filter": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
      });
  });
</script>
{%endblock body%}