{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}


{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  th {
    color: #117BCC !important;
    border-color: #EBEEF5;
  }

  .table>:not(:last-child)>:last-child>* {
    border-bottom-color: #EBEEF5;
  }

  .table>tr>td {
    border-bottom-color: #EBEEF5;
  }

  .table {
    margin-bottom: 4%;
  }

  .admin-main {
    position: relative;
    width: 80%;
    float: right;
  }
</style>


<main class="admin-main">
  <div class="panel panel-default">

    <h4 style="color: #117BCC;"> Delayed Shipments</h4>

    <div class="float-right">
      <p>Total Delayed Shipments:<h3>{{ delayed_count }}</h3></p>
    </div>
    <div class="card" style="width: 100%;">
      <table class="table table-hover table-stripped" style="font-size: 1.2em">
        <thead>
          <tr id="table-headings">
            <th>Clinic name </th>
            <th>destination </th>
            <th> delay_reasons</th>
            <th> status</th>
          </tr>
        </thead>

        <tbody>
          {% for shipment in shipments_list %} 
  
        <tr>
          <td>{{shipment.clini_name.clinic_name}}</td>
          <td>{{shipment.destination}}</td>
          <td>{{shipment.delay_reasons}}</td>
          <td>{{shipment.status}}</td>
          <td><a id="edit_delay" href="{%url 'shipments:edit_delays' shipment.id%}"><button type="submit" class="save btn btn-primary">Reschedule Shipment</button></td></a>
        </tr>
        {% endfor %}
  
      </tbody>
      </table>
    </div>
  </div>
</main>
{%endblock body%}