{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}


{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  th {
    color: #117BCC !important;
    border-color: #EBEEF5;
  }

  .table>:not(:last-child)>:last-child>* {
    border-bottom-color: #EBEEF5;
  }

  .table>tr>td {
    border-bottom-color: #EBEEF5;
  }

  .table {
    margin-bottom: 4%;
  }

  .admin-main {
    position: relative;
    width: 80%;
    float: right;
  }
</style>


<main class="admin-main">
  <div class="panel panel-default">

    <div class="float-right">
      <p>Total Scheduled Shipments:
      <h3>{{ schedule_count }}</h3>
      </p>
    </div>

    <h4 style="color: #117BCC;"> Shipments Details</h4>

    <div class="card" style="width: 100%;">
      <table class="table table-hover table-stripped" style="font-size: 1.2em">
        <thead>
          <tr id="table-headings">
            <th>UID_quantification_planning </th>
            <th>UID_planning</th>
            <th>type_produit</th>
            <th>produit</th>
            <th>UID_produit </th>
            <th> livraison_produit</th>
            <th>quantite_prevu</th>
            <th>quantite_envoyee </th>
            <th> quantite_recu</th>
            <th> quantite_intact</th>
            <th>quantite_abime </th>
            <th>quantite_perdu </th>
            <th> explication</th>
          </tr>
        </thead>
    
    
        <tbody>
          {% for shipment in mylist %}

          <tr>
            <td>{{shipment.UID_quantification_planning}}</td>
            <td>{{shipment.UID_planning}}</td>
            <td>{{shipment.type_produit}}</td>
            <td>{{shipment.produit}}</td>
            <td>{{shipment.UID_produit}}</td>
            <td>{{shipment.livraison_produit}}</td>
            <td>{{shipment.quantite_prevu}}</td>
            <td>{{shipment.quantite_envoyee}}</td>
            <td>{{shipment.quantite_recu}}</td>
            <td>{{shipment.quantite_intact}}</td>
            <td>{{shipment.quantite_abime}}</td>
            <td>{{shipment.quantite_perdu}}</td>
            <td>{{shipment.explication}}</td>
            <!-- <td><a id="edit_shipment" href="{%url 'shipments:edit_shipment' shipment.id%}"><button type="submit"
                  class="save btn btn-primary">Edit</button></td></a> -->


          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{%endblock body%}