{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}
{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }
  th {
    color: #117BCC !important;
    font-weight: bold;
    width: fit-content;

  }
  td{
   
    text-align: center;
    padding: 10px;
  }
  .heading{
    margin-bottom: 2.5%;
    font-size: 1.5rem;
  }
 
  table{
    table-layout: fixed;
  }
</style>

<main class="admin-main">
  <div class="panel panel-default">
    <div class="float-right" style="margin-top: 3.5%; margin-bottom: 0.25%">
      <p>Total Scheduled Shipments:
      <h3>{{ schedule_count }}</h3>
      </p>
    </div>
    <p class="heading" style="color: #117BCC;"> Shipments Details</p>
    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="3" data-order=" [[ 2, "asc" ]]">
          <thead>
            <thead>
              <tr id="table-headings">
                <th style="width: 100px;">UID_quantification_planning </th>
                <th style="width: 100px;">UID_planning</th>
                <th>type_produit</th>
                <th>produit</th>
                <th>UID_produit </th>
                <th> livraison_produit</th>
                <th>quantite_prevu</th>
                <th>quantite_envoyee </th>
                <th> quantite_recu</th>
                <th> quantite_intact</th>
                <th>quantite_abime </th>
                <th>quantite_perdu </th>
                <th> explication</th>
              </tr>
            </thead>
            <tbody>
              {% for shipment in mylist %}
              <tr>
                <td>{{shipment.UID_quantification_planning}}</td>
                <td style=" word-break: break-word;">{{shipment.UID_planning}}</td>
                <td>{{shipment.type_produit}}</td>
                <td>{{shipment.produit}}</td>
                <td>{{shipment.UID_produit}}</td>
                <td>{{shipment.livraison_produit}}</td>
                <td>{{shipment.quantite_prevu}}</td>
                <td>{{shipment.quantite_envoyee}}</td>
                <td>{{shipment.quantite_recu}}</td>
                <td>{{shipment.quantite_intact}}</td>
                <td>{{shipment.quantite_abime}}</td>
                <td>{{shipment.quantite_perdu}}</td>
                <td>{{shipment.explication}}</td>
                <!-- <td><a id="edit_shipment" href="{%url 'shipments:edit_shipment' shipment.id%}"><button type="submit"
                      class="save btn btn-primary">Edit</button></td></a> -->
              </tr>
              {%endfor%}
          </tbody>
      </table>
    </div>
  </div>
</main>
{%endblock body%}
<script>
// $(document).ready(function () {
//     $('#dataTable').DataTable();
// });
$(document).ready(function () {
    $('#dataTable').DataTable({
      "paging": true,
      "pageLength": 10,
      "lengthChange": true,
      "searching": true,
      "filter": true,
      "ordering": true,
      "bInfo": true,
      "bSort": true,
      "autoWidth": true
      });
    });
</script>