{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="authentication">
    <!-- login form start -->
    <div class="auth-form login-form">
        <div class="login-content">
            <header class="login-header">
                <h3><span>Reset Password</span></h3>
                <p>Enter your email to reset password</p>
            </header>

            <form id="password_change" class="auth_form" method="post">
                {%csrf_token%}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.name|title }} {{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    <label for="id_new_password2">Email:</label><br>
                    {{ form.email }}
                </div><br>
                
        <footer class="login-footer">
        <button type="submit" class="common-button is-bg" style="background: #117BCC;">Submit</button>
        </footer>

            </form>
</div>

</div>
{%endblock%}