{% extends 'flightres/base.html' %}

{% load static %}
{%block body%}

<style>
  .search {
      width: 50%;
      float: right;
      margin-bottom: 2%;
      overflow: auto;
    }
    #profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: gray 2px 2px 2px;
      object-fit: cover;
    }
    .search>form>input {
      width: 55%;
      padding: 10px 10px;
      color: #202020;
      border: none;
      border-radius: 8px 8px 8px 8px;
      float: right;
    }
    form>input:focus {
      outline: none;
    }
    .search-button:focus {
      outline: none;
    }
    .search-button {
      border: none;
      outline: none;
      margin-left: 43%;
      text-align: center;
      padding: 5px 5px;
      position: absolute;
      margin-top: 0.5%;
      padding-top: 1%;
      background-color: transparent;
      float: right;
    }
    .search-button>i {
      text-decoration: none;
      float: right;
    }
    .fas {
      color: #4A4A4A;
      /* float: right; */

    }

    th {
      color: #117BCC;
      border-color: #EBEEF5;
    }

    .table>:not(:last-child)>:last-child>* {
      border-bottom-color: #EBEEF5;
    }

    .table>tr>td {
      border-bottom-color: #EBEEF5;
    }

    .table {
      margin-bottom: 4%;
    }
    @media screen and (max-width: 1300px) {

.search-button {
  border: none;
  outline: none;
  margin-left: 43%;
  text-align: center;
  padding: 5px 5px;
  position: absolute;
  margin-top: 0.5%;
  padding-top: 1%;
  background-color: transparent;
  float: right;
}
}

</style>

<main class="admin-main">
  
    <div class="card-header">

      <div class="search">
        <form method="get" class="w-100">
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
          <input type="search" placeholder="     Search by location" name="search" />
        </form>
        {%if message%}
        <h6>{{message}}</h6>
        {%endif%}
  
        {%if results%}
        <p class="results">Found {{results}} clinic{{ results|pluralize }}</p>
        {%endif%}
      </div>

      <table class="table table-hover table-stripped" style="font-size: 1.2em">
        <thead>
          <tr>
            <th>Clinic(CSB)Name</th>
            <th>Region</th>
            <th>District</th>
            <th>Phone Number</th>
            <th></th>
          </tr>
        </thead>
  
        {%for clinic in clinics%}
        <tr>
          <td>{{clinic.clinic_name}}</td>
          <td>{{clinic.phone_number}}</td>
          <td>{{clinic.location}}</td>
          <td>{{clinic.registration_number}}</td>
          <td><a href="{%url 'edit_clinic' clinic.id%}">Edit</a></td>
        </tr>
        {%empty%}
        <p>Looks like clinic does not exist</p>
        <a href="{%url 'view_clinic'%}"><i class="fas fa-arrow-left"></i></a>
        {%endfor%}
      </table>
    </div>
   
</main>
{%endblock%}
