{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Madagascar Drone Portal">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="Madagascar Drone Portal">
    <meta property="og:title" content="Madagascar Drone Portal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://naxa.com.np">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Madagascar Drone Portal">
    <meta name="twitter:creator" content="@Madagascar Drone Portal">
    <meta name="twitter:title" content="Madagascar Drone Portal">
    <meta name="twitter:description" content="Madagascar Drone Portal">
    <meta name="twitter:image" content="preview.html">

    <!--title-->
    <title>Madagascar Drone Portal</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'datatable/DataTables-1.10.21/datatables.min.css' %}" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'datatable/DataTables-1.10.21/datatables.min.js' %}" /> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/humanitarian-webfont.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"></link>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    {% block links %}

    <!-- Data tables css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- end DT Css-->

    <!-- Data tables script -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

    {% endblock links %}

</head>

<body class="" style="font-family: 'Nunito', sans-serif;">
    <div class="body-container">
        {% include 'flightres/dashboard_header.html' %}
        <div class="drone-admin-wrapper">
            {% include 'flightres/sidebar.html' %}
            {% block body %}

            {% endblock body %}
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

    <script src="https://kit.fontawesome.com/a130a97af0.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'js/custom-datatable.js' %}"></script>
    <script src="{% static 'js/drone.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>

    {% block extrajs %}


    <!-- script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script -->
    <script src="{% static 'datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/vfs_fonts.js' %}"></script>

    {% endblock extrajs %}

    {% block footer_links %}

    {% endblock footer_links %}

</body>


</html>