{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Drone Registry Nepal">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="Drone Registry Nepal">
    <meta property="og:title" content="Drone Registry Nepal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://naxa.com.np">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Drone Registry Nepal">
    <meta name="twitter:creator" content="@Drone Registry Nepal">
    <meta name="twitter:title" content="Drone Registry Nepal">
    <meta name="twitter:description" content="Drone Registry Nepal">
    <meta name="twitter:image" content="preview.html">

    <!--title-->
    <title>Nepal Drone Portal</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.min.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block links %}

    {% endblock links %}

</head>

<body class="">
    <div class="body-container">
        <div class="drone-admin-wrapper">
            {% include 'flightres/sidebar.html' %}
            {% block body %}

            {% endblock body %}
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'js/custom-datatable.js' %}"></script>
    <script src="{% static 'js/drone.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>

    {% block footer_links %}

    {% endblock footer_links %}

</body>


</html>