{% extends 'flightres/base.html' %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/popup-image.css' %}">
<script src="{% static 'js/modal-image.js' %}"></script>
{% endblock links %}

{% block body %}
<div style="z-index: 1111; " id="myModalVideo" class="popup">
    <div class="image-container">
        <!-- <div class="modal-body popup-body"> -->
            <span class="close-icon" onclick="closeModal()"><i
                    class="material-icons">close</i></span>
            <div class="modal-content" id="openFSImage">
            </div>
        <!-- </div> -->
    </div>
</div>
<main class="admin-main">
    <div class="main-card">
        <div class="card-header">
            <h1>CIVILIAN COMPLAINTS / MANAGE CIVILIAN COMPLAINTS</h1>
        </div>
        <div class="card-body">
            <!-- {% for i, j, k in data %}
            <p>{{i.uav_uid }}</p>
            {% endfor %} -->
            <table id="admin-datatable" class="admin-datatable">
                <thead>
                    <tr>   
                        <th>ID</th>
                        <th>Date</th>
                        <th>Complaint Category</th>
                        <th>Message</th>
                        <th>Sender Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Escalated</th>
                        <th class="modal-th"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, j, k in data %}
                    <tr>
                        <td>{{ i.uav_uid }}</td>
                        <td>
                            <time>{{ i.created_at }}</time>
                        </td>
                        <td>{{ i.category }}</td>
                        <td><b>{{ i.message }}</b></td>
                        <td>{{ i.complainer_name|default:"--" }}</td>
                        <td>{{ i.location }}</td>
                        <td>
                            {% if i.status == "Pending" %}
                            <span class="status pending">{{ i.status }}</span>
                            {% else %}
                            <span class="status approved">{{ i.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.is_escalated %}
                            <span class="status approved">Yes</span>
                            {% else %}
                            <span class="status pending">No</span>
                            {% endif %}
                        </td>

                        <td>
                            <a id="show-popup" modal-link="complain{{ i.uav_uid }}" class="modal-link"><i
                                    class="material-icons" data-toggle="modal"
                                    data-target="#complain{{ i.uav_uid }}">chevron_right</i></a>
                            <div class="popup" tabindex="-1" role="dialog" id="complain{{ i.uav_uid }}">
                                <div class="popup-container lg-popup map-popup">
                                    <div class="popup-body">
                                        <span class="close-icon"><i class="material-icons">close</i></span>
                                        <div class="popup-header">
                                            <h3>Complaint management for <b>ID {{ i.uav_uid }}</b></h3>

                                        </div>
                                        <div class="popup-content">
                                            <div class="drone-details">
                                                <div class="row gx-md-3 gx-lg-3">
                                                    <div class="col-xl-5 col-sm-12 order-2">
                                                        <div class="info-content col-left">
                                                            <ul>
                                                                <li>
                                                                    <h4>Sender info</h4>
                                                                    <div class="content-list">
                                                                        <p>
                                                                            <b>Name:</b><span>{{ i.complainer_name|default:"--" }}</span>
                                                                        </p>
                                                                        <p>
                                                                            <b>Location:</b><span>{{ i.location }}</span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h4>Additional info</h4>
                                                                    <div class="content-list">
                                                                        <div class="image-content">
                                                                            <figure>
                                                                                <button data-toggle="modal"
                                                                                    data-target="#myModalVideo"
                                                                                    modal-link="myModalVideo"
                                                                                    type="button"
                                                                                    class="hover-shadow cursor btn modal-link">
                                                                                    <img id="image_{{ i.uav_uid }}"
                                                                                        class="expandImage"
                                                                                        src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png"
                                                                                        alt="">
                                                                                </button>
                                                                            </figure>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h4>Flight Permission Nearby</h4>
                                                                    <div class="permit-list">
                                                                        {% for perm in j %}
                                                                        <button data-toggle="modal"
                                                                            data-target="#open-modal-flight"
                                                                            modal-link="open-modal-flight" type="button"
                                                                            class="btn modal-link flightPop"
                                                                            id="flight_{{ perm.uav_uid }}">
                                                                            Permission Request for ID
                                                                            {{ perm.uav_uid }}
                                                                        </button>

                                                                        <div class="popup" id="open-modal-flight">
                                                                            <div id="modal-dialog"
                                                                                class="popup-container lg-popup map-popup">
                                                                                <div class="popup-body">
                                                                                    <span class="close-icon"><i
                                                                                            class="material-icons">close</i></span>
                                                                                    <div class="popup-body"
                                                                                        id="flightPopUp">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-7 col-sm-12  order1">
                                                        <div class="complaint-content col-right">
                                                            <h3 class="title">COMPLAINT MESSAGE <span>
                                                                    {% if i.status == 'Resolved' %}
                                                                    <a class="common-button is-bg"
                                                                        href="{% url 'dashboard:update-complain' pk=i.uav_uid action='status' status=i.status %}">Mark
                                                                        as Unresolved</a>
                                                                    {% else %}
                                                                    <a class="common-button is-bg"
                                                                        href="{% url 'dashboard:update-complain' pk=i.uav_uid action='status' status=i.status %}">Mark
                                                                        as Resolved</a>
                                                                    {% endif %}
                                                                </span></h3>
                                                            <div class="info-para">
                                                                <h6>Complain Category:
                                                                    <span>{{ i.category }}</span></h6>
                                                                <span class="time">{{ i.created_at }}</span>
                                                            </div>
                                                            <div class="info-block">
                                                                <p>{{ i.message }}</p>
                                                            </div>
                                                            <div class="button-wrap">
                                                                {% if i.is_escalated %}
                                                                <button id="show-popup"
                                                                    modal-link="open-modal-escalated{{ i.uav_uid }}"
                                                                    class="modal-link common-button is-bg escalate-button"
                                                                    data-toggle="modal"
                                                                    data-target="#open-modal-escalated{{ i.uav_uid }}">De-Escalate
                                                                    Issue</button>
                                                                {% else %}
                                                                <button id="show-popup"
                                                                    modal-link="open-modal-escalated{{ i.uav_uid }}"
                                                                    class="modal-link common-button is-bg escalate-button"
                                                                    data-toggle="modal"
                                                                    data-target="#open-modal-escalated{{ i.uav_uid }}">Escalate
                                                                    Issue</button>
                                                                {% endif %}
                                                            </div>
                                                            <form action="{% url 'dashboard:submit-reply' pk=i.pk %}"
                                                                method="POST">
                                                                {% csrf_token %}
                                                                <textarea class="form-control" id="note" type="text"
                                                                    placeholder="Write a internal note"
                                                                    name="note">{{ i.note|default_if_none:"" }}</textarea>
                                                                <br />

                                                                <div class="textarea-message">
                                                                    <textarea class="form-control" id="reply"
                                                                        placeholder="Write a reply back" type="text"
                                                                        name="reply">{{ i.reply|default_if_none:"" }}</textarea>
                                                                </div>
                                                                <br>
                                                                <div class="buttons is-end">
                                                                    <button type="submit"
                                                                        class="common-button is-bg">Reply
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="popup-footer popup-permission">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="popup" tabindex="-1" role="dialog" id="open-modal-escalated{{ i.uav_uid }}">
                                <div class="popup-container sm-popup map-popup">
                                    <div class="popup-body">
                                        <span class="close-icon"><i class="material-icons">close</i></span>
                                        <div class="popup-header">
                                            <h3>Escalate Issue</h3>
                                        </div>
                                        <div class="popup-content">
                                            <div class="drone-details">
                                                <div class="row">
                                                    <div class="col-xl-12 col-sm-12">
                                                        <div class="drone-content col-left">
                                                            <ul>
                                                                <li>
                                                                    <h4>Police Contacts</h4>
                                                                    {% for auth in k %}
                                                                    <div class="content-list">
                                                                        <p>
                                                                            <b>{{ auth.name }}</b><span>{{ auth.phone_number }}</span>
                                                                        </p>
                                                                    </div>
                                                                    {% endfor %}
                                                                    <div class="button-wrap">
                                                                        {% if i.is_escalated %}
                                                                        <a class="common-button is-bg"
                                                                            href="{% url 'dashboard:update-complain' pk=i.uav_uid action='escalate' status='true' %}">De-Escalate</a>
                                                                        {% else %}
                                                                        <a class="common-button is-bg"
                                                                            href="{% url 'dashboard:update-complain' pk=i.uav_uid action='escalate' status='false' %}">Escalate</a>
                                                                        {% endif %}

                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="popup-footer popup-permission">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock body %}

{% block footer_links %}
<script src="{% static 'js/modal-image.js' %}"></script>
<script type="text/javascript">
    var flight_objects = '{{ json_data }}'
    var image_url_objects = '{{image_json_data}}'
</script>
<script>
    function permApproval(uid, status) {
        console.log(uid, status)
    }

    $(document).ready(function () {

        function closePopup() {
            $('.close-icon').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.popup').removeClass('open');
            });
        }

        closePopup();
        // var lat = document.getElementById('map').getAttribute('value').split(',')[0]
        // var long = document.getElementById('map').getAttribute('value').split(',')[1]


        var expandBtn = document.getElementsByClassName('flightPop')

        flight_objects = flight_objects.replace(/&quot;/g, '"').replace(/uav_uuid__operator__company_name/g, 'company_name');
        flight_object = JSON.parse(flight_objects)


        for (var i = 0; i < expandBtn.length; i++) {
            expandBtn[i].addEventListener('click', function (e) {
                // console.log('clicked');
                object_id = e.target.id.split('_')[1]
                for (j = 0; j < flight_object.length; j++) {
                    if (object_id == flight_object[j].uav_uid) {
                        createModal(flight_object[j])
                    }
                }
            })
        }

        function createModal(data) {
            var html1 = `
                <div class="popup-header">
                <h3>Permission Request for <b>ID ` + data.uav_uid + `</b></h3>
                </div>
                <div class="popup-content">
                    <div class="drone-details">
                        <div class="row gx-md-3 gx-lg-3">
                            <div class="col-xl-5 col-sm-12">
                                <div class="drone-content col-left">
                                    <ul>
                                        <li>
                                            <h4>Operators info</h4>
                                            <div class="content-list">
                                                <p>
                                                    <b>Company Name:</b>
                                                    <span>` + data.company_name + `</span>
                                                </p>
                                                <p>
                                                    <b>Phone Number:</b>
                                                    <span>` + data.uav_uuid__operator__phone_number + `</span>
                                                </p>
                                                <p>
                                                    <b>Email:</b>
                                                    <span>` + data.uav_uuid__operator__email + `</span>
                                                </p>
                                            </div>
                                        </li>
                                        <br>
                                        <li>
                                            <h4>Flight info</h4>
                                            <div class="content-list">
                                                <p><b>Start Date:
                                                    </b><span>` + data.flight_start_date + `</span>
                                                </p>
                                                <p><b>End Date:
                                                    </b><span>` + data.flight_end_date + `</span>
                                                </p>
                                                <p><b> Time:
                                                    </b><span>` + data.flight_time + `</span>
                                                </p>
                                                <p><b>Purpose:
                                                    </b><span>` + data.flight_purpose + `</span>
                                                </p>
                                                <p><b>Aircraft Name:
                                                    </b><span>` + data.uav_uuid__popular_name + `</span>
                                                </p>
                                                <p><b>Unique ID:
                                                    </b><span>`+ data.uav_uuid + `</span>
                                                </p>
                                            </div>
                                        </li>
                                        <br>
                                        <li>
                                            <h4>Pilot info</h4>
                                            <div class="content-list">
                                                <p><b>Pilot Name: </b><span>
                                                    ` + data.pilot_id__name + `
                                                    </span>
                                                    <p><b>Pilot Phone Number:
                                                    </b><span>` + data.pilot_id__phone_number + `</span>
                                                    </p>
                                                    <p><b>Pilot Company:
                                                    </b><span>`+ data.pilot_id__company + `</span>
                                                    </p>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Documentation</h4>
                                            <div class="row g-2">
                                                <div class="col-md-4">
                                                    <div class="file-upload">
                                                        <a href="` + data.pilot_id__cv_url + `" class="file-link">
                                                            <div class="file-icon">
                                                                <i class="material-icons">description</i>
                                                            </div>
                                                            <div class="file-info">
                                                                <div class ="file-wrap">
                                                                    <p>Pilot CV</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="file-upload">
                                                        <a href="` + data.flight_plan_url + `" class="file-link">
                                                            <div class="file-icon">
                                                                <i class="material-icons">description</i>
                                                            </div>
                                                            <p>Flight Plan</p>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="file-upload">
                                                        <a href="` + data.flight_insurance_url + `" class="file-link">
                                                            <div class="file-icon">
                                                                <i class="material-icons">description</i>
                                                            </div>
                                                            <p>Drone Insurance</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-7 col-sm-12">
                                <div class="map-content col-right">
                                    <div class="tab-content-holder current" id="location">
                                        <div id="map" class="map" value="` + data.latitude + `, ` + data.longitude + `"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
            document.getElementById('flightPopUp').innerHTML = html1
            plotMap(data)
        }

        function plotMap(data) {
            var map = L.map('map').setView([data.latitude, data.longitude], 8);
            // var map = L.map('map', {
            //     // layers: [base],
            //     center: new L.LatLng(lat, lon),
            //     zoom: 12,
            // });
            var mark = L.marker([data.latitude, data.longitude]).addTo(map);

            // console.log(flight_object)

            var circle = L.circle([data.latitude, data.longitude], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 100
            }).addTo(map);

            osm = L.tileLayer('https://api.mapbox.com/styles/v1/upendraoli/cjuvfcfns1q8r1focd0rdlgqn/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidXBlbmRyYW9saSIsImEiOiJjaWYwcnFnNmYwMGY4dGZseWNwOTVtdW1tIn0.uhY72SyqmMJNTKa0bY-Oyw', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            })

            googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(map);
            googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });
            googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });
            googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });


            var baseLayers = {
                "OpenStreetMap": osm,
                "Google Streets": googleStreets,
                "Google Hybrid": googleHybrid,
                "Google Satellite": googleSat,
                "Google Terrain": googleTerrain,

            };


            customPopup = '<div class="bind-popup"> <div class="bind-header"><h5>Proposed FLight Location</h5> <p><i class="fa fa-map-marker"></i> </p><em><span> </span> </em></div><a href="openSpace_details.html" class="openSpace_btn"></a></div><ul><li></li><li></li></ul>'


            layerswitcher = L.control.layers(baseLayers, {}, { collapsed: true }).addTo(map);
        }
    });

    $('.leaflet-popup-content, .leaflet-popup-content-wrapper').css('width', '300px');

</script>
{% endblock footer_links %}