{% extends 'flightres/base.html' %}
{% load static %}


{% block body %}
<main class="admin-main">
    <div class="main-card">
        <div class="card-header">
            <h1>CIVILIAN COMPLAINTS / MANAGE CIVILIAN COMPLAINTS</h1>
        </div>
        <div class="card-body">
            <table id="admin-datatable" class="admin-datatable">
                <thead>
                    <tr>
                        <th class="serial-th">SN</th>
                        <th>Date</th>
                        <th>Complaints ID</th>
                        <th>Complaint Category</th>
                        <th>Message</th>
                        <th>Sender Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th class="modal-th"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><time>{{ object.created_at }}</time></td>
                        <td>ID-{{ object.uav_uid }}</td>
                        <td>{{ object.category }}</td>
                        <td><b>{{ object.message }}</b></td>
                        <td>{{ object.complainer_name }}</td>
                        <td>{{ object.location }}</td>
                        <td><span class="status approved">Solved</span></td>
                        <td>
                            <a modal-link="complain{{object.uav_uid}}" class="modal-link"><i class="material-icons"
                                data-toggle="modal" data-target="#complain{{object.uav_uid}}">chevron_right</i></a>
                            <div class="popup" tabindex="-1" role="dialog" id="complain{{object.uav_uid}}">
                                <div class="popup-container lg-popup map-popup">
                                    <div class="popup-body">
                                        <span class="close-icon"><i class="material-icons">close</i></span>
                                        <div class="popup-header">
                                            <h3>Complaint management for <b>ID {{ object.uav_uid }}</b></h3>

                                        </div>
                                        <div class="popup-content">
                                            <div class="drone-details">
                                                <div class="row gx-md-3 gx-lg-3">
                                                    <div class="col-xl-5 col-sm-12 order-2">
                                                        <div class="info-content col-left">
                                                            <ul>
                                                                <li>
                                                                    <h4>Sender info</h4>
                                                                    <div class="content-list">
                                                                        <p><b>Name:</b><span>{{ object.complainer_name }}</span>
                                                                        </p>
                                                                        <p><b>Location:</b><span>{{ object.location }}</span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h4>Additional info</h4>
                                                                    <div class="content-list">
                                                                        <div class="image-content">
                                                                            <figure><img src="{{ object.image_url }}"
                                                                                    alt=""></figure>
                                                                        </div>
                                                                </li>
                                                                <li>
                                                                    <h4>Flight Permission Nearby</h4>
                                                                    <div class="permit-list">
                                                                        <p>Permission Request for ID123</p>
                                                                        <p>Permission Request for ID123</p>
                                                                        <p>Permission Request for ID123</p>
                                                                        <p>Permission Request for ID123</p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                    <div class="col-xl-7 col-sm-12  order1">
                                                        <div class="complaint-content col-right">
                                                            <h3 class="title">COMPLAINT MESSAGE <span><a
                                                                        class="common-button is-bg"
                                                                        href="{% url 'dashboard:update-complain' pk=object.uav_uid action='status' %}">Mark
                                                                        as Resolved</a> </span></h3>
                                                            <div class="info-para">
                                                                <h6>Complain Category:
                                                                    <span>{{ object.category }}</span></h6>
                                                                <span class="time">{{ object.created_at }}</span>
                                                            </div>
                                                            <div class="info-block">
                                                                <p>{{ object.message }}</p>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <button class="common-button is-bg escalate-button"
                                                                    popup-link="open-modal-escalated">Issue
                                                                    Escalated</button>
                                                            </div>
                                                            <form
                                                                action="{% url 'dashboard:submit-reply' pk=object.pk %}"
                                                                method="POST">
                                                                {% csrf_token %}
                                                                <textarea class="form-control" id="note" type="text"
                                                                    name="note">{{ object.note }}</textarea>
                                                                <div class="textarea-message">
                                                                    <textarea class="form-control" id="reply"
                                                                        type="text" name="reply">{{ object.reply }}</textarea>
                                                                </div>
                                                                <br>
                                                                <div class="buttons is-end">
                                                                    <button type="submit"
                                                                        class="common-button is-bg">Reply</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="popup-footer popup-permission">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="popup" id="open-modal-escalated">
                                <div class="popup-container sm-popup map-popup">
                                    <div class="popup-body">
                                        <span class="close-icon"><i class="material-icons">close</i></span>
                                        <div class="popup-header">
                                            <h3>Escalate Issue</h3>

                                        </div>
                                        <div class="popup-content">
                                            <div class="drone-details">
                                                <div class="row">
                                                    <div class="col-xl-12 col-sm-12">
                                                        <div class="drone-content col-left">
                                                            <ul>
                                                                <li>
                                                                    <h4>Police Contacts</h4>
                                                                    <div class="content-list">
                                                                        <p><b>Kathmandu</b><span>(009)036-3782</span>
                                                                        </p>
                                                                        <p><b>Lima</b><span>(195)362-6460</span>
                                                                        </p>
                                                                        <p><b>Amsterdam</b><span>(195)362-6460</span>
                                                                        </p>
                                                                        <p><b>Shenzen</b><span>(195)362-6460</span>
                                                                        </p>
                                                                        <p><b>Helsinki</b><span>(195)362-6460</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="button-wrap">
                                                                        <a class="common-button is-bg"
                                                                            href="{% url 'dashboard:update-complain' pk=object.uav_uid action='escalate' %}">Escalate</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="popup-footer popup-permission">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock body %}