{% extends 'flightres/base.html' %}
{% load static %}


{% block links %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock links %}


{% block body %}

<body>

    <style>
       
    body{
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
      
        /* New Site */
        .scheduled-flights {
            margin-top: 2%;
        }

        h5 {
            color: #02129D;
        }

        a {
            color: #1B7FC2;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive columns */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }

        .scheduled-flights-section {
            border-left: 1px solid #C4C4C4;
        }

        #card {
            padding: 0;
            width: 95%;
            margin: auto;
            border-radius: 10px;
        }

        .admin-main {
            background: #F2F8FF;

        }

        ul li {
            list-style-type: disc;
            list-style-position: inside;
        }

        .card {
            background-color: #fff !important;
        }
    </style>

    <main class="admin-main">
        <div class="main-card">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="dashboard-title">
                        <h1>Hello <span>Username!</span></h1>
                        <p>Check out the latest updates today</p>
                        <p>Dashboard / <a href="">Overview</a></p>
                    </div>
                    <div class="row">
                        <div class="column w-25 pt-5">
                            <div class="card">
                                <h5>256</h5>
                                <p class="pt-2">Current Request</p>
                                <span class="pt-4"><a href="">View All ></a></span>
                            </div>
                        </div>

                        <div class="column w-25 pt-5">
                            <div class="card">
                                <h5>256</h5>
                                <p class="pt-2">Total Shipments</p>
                                <span class="pt-4"><a href="">View All ></a></span>
                            </div>
                        </div>

                        <div class="column w-25 pt-5">
                            <div class="card">
                                <h5>256</h5>
                                <p class="pt-2">Scheduled Flights</p>
                                <span class="pt-4"><a href="">View All ></a></span>
                            </div>
                        </div>

                        <div class="column w-25 pt-5">
                            <div class="card">
                                <h5>256</h5>
                                <p class="pt-2">Delayed Flights</p>
                                <span class="pt-4"><a href="">View All ></a></span>
                            </div>
                        </div>
                    </div>

                    <!--Chart-->
                    <div class="card mt-5">
                        <div id="chart" style="min-height: 365px;"></div>
                    </div>


                </div>
                <div class="col-6 col-md-4 scheduled-flights-section">
                    <div id="datetimepicker1" class="md-form md-outline input-with-post-icon datepicker">
                        <input placeholder="Select date" type="text" id="example" class="form-control">
                        <!-- <label for="example">Try me...</label> -->
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>



                    <div class="row scheduled-flights">
                        <div class="col-12 col-md-8 pt-4">
                            <h5>SHEDULED FLIGHTS</h5>
                        </div>
                        <div class="col-12 col-md-4 pt-4">
                            <span><a href="">View All</a></span>
                        </div>

                        <!-- Dynamically input time-->
                        <p>9:00</p>
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-3"></div>
                        <!-- To be dynamic-->
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row scheduled-flights">
                        <div class="col-12 col-md-8 pt-4">
                            <h5>DELAYED FLIGHTS</h5>
                        </div>
                        <div class="col-12 col-md-4 pt-4">
                            <span><a href="">View All</a></span>
                        </div>

                        <!-- Dynamically input time-->
                        <p>9:00</p>
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-3"></div>
                        <!-- To be dynamic-->
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row scheduled-flights">
                        <div class="col-12 col-md-8 pt-4">
                            <h5>COMPLETED FLIGHTS</h5>
                        </div>
                        <div class="col-12 col-md-4 pt-4">
                            <span><a href="">View All</a></span>
                        </div>

                        <!-- Dynamically input time-->
                        <p>9:00</p>
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-3"></div>
                        <!-- To be dynamic-->
                        <div class="card" id="card">
                            <div class="card-body">
                                <h6 class="card-title text-left">Destination Name </h6>
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>50gms</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>Capsules</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <ul>
                                            <li>9:00am</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </main>

    <script>
        //pie-chart
        var options = {
            series: [{
                name: "Desktops",
                data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'Monthly Flight Requests Analysis',
                align: 'left'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
    {% endblock body %}

</body>