{% extends 'flightres/base.html' %}
{% load static %}


{% block links %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock links %}


{% block body %}
<main class="admin-main">
    <div class="main-card">
        <div class="dashboard-title">
            <h1>Welcome to <span>Nepal Drone Portal</span></h1>
        </div>
        <div class="drone-info">
            <div class="row row-wrap g-xl-3 g-lg-2 gy-md-2 gy-sm-2 gy-2">
                <div class="col-lg-3 col-md-6">
                    <div class="info-content">
                        <div class="total-count">
                            <!-- <h4>{{ top_data.0.0 }}</h4> -->
                            <!-- <span class="span-dark"><i class="material-icons">person</i></span> -->
                        </div>
                        <!-- <span class="count-label">Registered</span> -->
                    </div>
                </div> 

                <div class="col-lg-3 col-md-6">
                    <div class="info-content">
                        <div class="total-count">
                            <h4>{{ top_data.0.1 }}</h4>
                            <span class="span-light"><i class="material-icons">local_airport</i></span>
                        </div>
                        <span class="count-label">Total current requests</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-content">
                        <div class="total-count">
                            <h4>{{ top_data.0.2 }}</h4>
                            <span class="span-dark"><i class="material-icons">email</i></span>
                        </div>
                        <span class="count-label">Approved Flight Requests</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-content info-content-wrap">
                        <div class="info-content-part">
                            <div class="total-count">
                                <h4>{{ top_data.0.3 }} <span class="count-label">Pending Flight Requests</span></h4>
                                <span class="span-light"><i class="material-icons">access_time</i></span>
                            </div>

                        </div>
                        <div class="info-content-part">
                            <div class="total-count">
                                <h4>{{ top_data.0.4 }} <span class="count-label">Rejected Flight Requests</span></h4>
                                <span class="span-light"><i class="material-icons">cancel</i></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="chart-section">
            <div class="row row-wrap g-xl-4 g-lg-3 gy-xl-0 gy-4">
                <div class="col-xl-6 col-lg-6 col-md-12 column">
                    <div class="main-card">
                        <div class="card-header">
                            <h1>Monthly Flight Requests <a href="#/"><i class="material-icons">more_vert</i></a></h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="graph-item">
                                        <div id="line-chart1"></div>
<!--                                        <div id="line-chart2"></div>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 column">
                    <div class="main-card">
                        <div class="card-header">
                            <h1>All Complaints Status<a href="#/"><i class="material-icons">more_vert</i></a></h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="graph-item">
                                        <div id="pie-chart1"></div>
<!--                                        <div id="pie-chart2"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    //pie-chart
    var options = {
        series: [{% for i in pie_data %}{{ i.0}}, {{i.1}}{% if not forloop.last %}, {% endif %}{% endfor %}],
        colors: ['#24DB15', '#FCBA15'],
        chart: {
            height: '280',
            type: 'donut',
        },
        labels: ['Solved', 'Pending'],
        /*  responsive: [{
           breakpoint: 480,
           options: {
             chart: {
               height: 200,
             },
             legend: {
               position: 'right center'
             },
           }
         }] */
    };

    var chart = new ApexCharts(document.querySelector("#pie-chart1"), options);
    chart.render();

    // line-chart
    var options = {
        series: [
            {
                name: "Total Requests",
                data: [{% for i in bar_data %}{{ i.0}}{% if not forloop.last %}, {% endif %}{% endfor %}]
            },
            {
                name: "Approved Requests",
                data: [{% for i in bar_data %}{{ i.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}]
            }
        ],
        colors: ['#3346D1', '#00BCFF'],
        chart: {
            height: 370,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    height: 200,
                },
            },
        }],
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 2,
            curve: 'straight'
        },
        markers: {
            size: 5
        },
        grid: {
            row: {
                colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
            },
        },
        xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        }
    };

    var chart = new ApexCharts(document.querySelector("#line-chart1"), options);
    chart.render();

</script>
{% endblock body %}