{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Drone Registry Nepal" />
    <meta property="og:image" content="preview.html" />
    <meta property="og:site_name" content="Drone Registry Nepal" />
    <meta property="og:title" content="Drone Registry Nepal" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://naxa.com.np" />

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Drone Registry Nepal" />
    <meta name="twitter:creator" content="@Drone Registry Nepal" />
    <meta name="twitter:title" content="Drone Registry Nepal" />
    <meta name="twitter:description" content="Drone Registry Nepal" />
    <meta name="twitter:image" content="preview.html" />

    <!--title-->
    <title>No Fly Zone</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32" />

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-humanitarian.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/humanitarian-webfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.min.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"></link>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"></link>

    <style>
      #mapid {
      
      height: inherit;
      width: 100%; }
  </style>
  </head>

  <body class="">
    <div class="body-container">
      <div class="drone-admin-wrapper">
        {% include 'flightres/headers.html' %}
        
      </div>
    </div>
    <main class="about-section"style='margin-top:0px'>
      <div class="container-flex">
              <section class="map-section" style='position:relative;'>
                  <div class="search-bar" style='z-index:9090;top: 10px;left: 70px;right: auto;'>
                    <div class="search-wrap no-border">
                      <span><i class="material-icons">place</i></span>
                      <input type='number' class="form-control lat-long" id='lat-in' placeholder="latitude" />
                    </div>
                    <div class="search-wrap no-border">
                      <span><i class="material-icons">place</i></span>
                      <input type='number' class="form-control lat-long" id='long-in' placeholder="longitude" />
                    </div>
                    
                    <p id='ptext' style='color:black;font-size:17px;font-weight:500;'></p>
                  </div>
                  
                  <div id="mapid"></div>
                 
              </section>
      </div>
  </main>
    <!-- Jquery Core Js -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <!-- <script src="{% static 'js/map.js' %}"></script> -->
    <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'js/custom-datatable.js' %}"></script>
    <script src="{% static 'js/drone.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src='https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js'></script>
    
    <script>
      function geocheck(lat, long) {
        for (var x = 0; x < noFlyZoneLayer.length; x++) {
          var results = leafletPip.pointInLayer([long, lat], noFlyZoneLayer[x]);
          if (results.length > 0) {
            return true
          };
        };
        return false
      };
    </script>

    <script>
      $(document).ready(function(){
        $(".lat-long").change(function(){
          if(($('#long-in').val().length != 0) && ($('#lat-in').val().length != 0)) {
            markerGroup.clearLayers();
            lat = $('#lat-in').val();
            long = $('#long-in').val();
            var rslt = geocheck(lat, long);
            if (rslt == true) {
              $('#ptext').text('Given Co-ordinates fall under No Fly Zone')
            }else {
              $('#ptext').text('Given Co-ordinates do not fall under No Fly Zone')
            };
            var mar = new L.marker([lat, long], {icon:orangeIcon}).addTo(markerGroup);
            mymap.panTo(mar.getLatLng());
          }
        });
      });
    </script>

    <script>
      $(document).ready(function() {
        $('#dash_login').click(function() {
          window.location.href = $(this).attr('href')
        });
        $('#dash_logout').click(function() {
          window.location.href = $(this).attr('href')
        });
        $('#dash').click(function() {
          window.location.href = $(this).attr('href')
        });
        $('#settings').click(function() {
          window.location.href = $(this).attr('href')
        });
      });
    </script>

    <script>
      var noFlyZone = '{{noflyZone}}'
      var das = '{{dat}}'
      das = das.replace(/&quot;/g, '"');
      noFlyZone = noFlyZone.replace(/&quot;/g, '"');
      var noFlyZone_json = JSON.parse(noFlyZone);
      var dat = ['{{lat}}', '{{lng}}']
      var mymap = L.map('mapid',{
          gestureHandling: true,
          fullscreenControl: {
              pseudoFullscreen: false // if true, fullscreen to page width and height
          }}).setView([parseFloat(dat[0]), parseFloat(dat[1])], 7);
      mymap.createPane('labels');
      mymap.getPane('labels').style.zIndex = 650;
      mymap.getPane('labels').style.pointerEvents = 'none'
      var orangeIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
      });
      var markerGroup = new L.layerGroup().addTo(mymap);
      if (das == 'True') {
        var mark = L.marker(
          L.latLng(
            parseFloat(dat[0]),
            parseFloat(dat[1])
          ), {icon:orangeIcon}
        ).addTo(markerGroup);
      };
      var geojsonLayer = new L.GeoJSON.AJAX("../../staticfiles/data/nepal.geojson",{
        style:{
          "color": "#04AA66",
          "weight": 5,
          "opacity": 0.65
        }
      }).addTo(mymap);
      var geoLayerGroup = new L.layerGroup().addTo(mymap);

      var noFlyZoneLayer = []
      for (var x = 0; x < noFlyZone_json.length; x++) {
        noFlyZoneLayer[x] = new L.GeoJSON.AJAX("../../uploads/shp_files/"+ String(noFlyZone_json[x]), {
          style : {
            "color": "red",
            "weight": 3,
            "opacity": 1
          },
          onEachFeature: function (feature, layer) {
            layer.bindPopup('<h5 style="font-size:17px;font-weight:400;"> Name: '+feature.properties.name+'</h5>');
          },
          pane: 'labels'
        }).addTo(geoLayerGroup);
      }
      
      
      osm = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2lqYW4zNSIsImEiOiJja2FvM2h0bHMxazNlMnRwNnV4MGU1bDg2In0.JiZ6xxDTNT1zuIhdo9PTeA', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/light-v10',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'your.mapbox.access.token'
      }).addTo(mymap);
      googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
              maxZoom: 20,
              subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
          });
      googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
              maxZoom: 20,
              subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
          });
      googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
              maxZoom: 20,
              subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
          });
      googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
              maxZoom: 20,
              subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
          });
  
      
  
      var baseLayers = {
              "OpenStreetMap": osm,
              "Google Streets": googleStreets,
              "Google Hybrid": googleHybrid,
              "Google Satellite": googleSat,
              "Google Terrain": googleTerrain,
  
          };
  
      layerswitcher = L.control.layers(baseLayers, {}, { collapsed: true,
      position: 'topright' }).addTo(mymap);
  </script>
  </body>
</html>
