{% extends 'flightres/base.html' %}
{% load static %}

{% block body %}

<main class="admin-main">
    <div class="main-card">
        <div class="card-header">
            <h1>FLIGHT PERMISSION / MANAGE FLIGHT PERMISSION</h1>
        </div>
        <div class="card-body">
            <button class="common-button is-bg link-btn"><a href="#/">Link</a></button>
            <table id="admin-datatable" class="admin-datatable">
                <thead>

                    <tr>
                        <th class="serial-th">SN</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Permission Details</th>
                        <th>Pilot Name</th>
                        <th>Flight Location</th>
                        <th>Status</th>
                        <th class="modal-th"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <time>{{ object.flight_start_date }}</time>
                        </td>
                        <td>
                            <time>{{ object.flight_end_date }}</time>
                        </td>
                        <td><b>Permission detail {{ object.uav_uid }}</b></td>
                        <td>{{ object.pilot_name }}</td>
                        <td>Latitude: {{ object.latitude }} Longitude: {{ object.longitude }}</td>
                        {% if object.status == 'Approved' %}
                        <td><span class="status approved">{{ object.status }}</span></td>
                        {% elif object.status == 'Rejected' %}
                        <td><span class="status failed">{{ object.status }}</span></td>
                        {% else %}
                        <td><span class="status pending">{{ object.status }}</span></td>
                        {% endif %}
                        <td class="table-action">
                            <button data-toggle="modal" data-target="#open-modal" modal-link="open-modal" type="button"
                                class="btn modal-link">
                                <i id="expand_{{object.uav_uid}}"
                                    class="material-icons expandData">chevron_right</i>
                            </button>
                            <div class="popup" id="open-modal">
                                <div id="modal-dialog" class="popup-container lg-popup map-popup">
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>

<script type="text/javascript">
    // var lat;
    // var lon;
    // {% for object in object_list %}
    //     window.lat = '{{ object.latitude|safe }}';
    //     window.lon = '{{ object.longitude|safe }}';
    // {% endfor %}
    var flight_objects = '{{ json_data }}'
</script>

<script src="{% static 'js/map.js' %}"></script>
{% endblock body %}
