{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Drone Registry Nepal">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="Drone Registry Nepal">
    <meta property="og:title" content="Drone Registry Nepal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://naxa.com.np">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Drone Registry Nepal">
    <meta name="twitter:creator" content="@Drone Registry Nepal">
    <meta name="twitter:title" content="Drone Registry Nepal">
    <meta name="twitter:description" content="Drone Registry Nepal">
    <meta name="twitter:image" content="preview.html">

    <!--title-->
    <title>Drone Registry Nepal</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.min.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="home-pg">

<header class="site-header">
    <!--    <div class="top-header">
            <div class="container">
                <div class="wrap-container">
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li class=form-group>
                            <select class="form-control" name="lang" id="lang">
                                <option value="Eng">Eng</option>
                                <option value="Nep">Nep</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
    <div class="container">
        <div class="wrap-container">
            <div class="header-in">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'img/logo-blue.png' %}"/>
                </a>
                <div class="menu-wrap">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}" class="active span-15">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard:about' %}" class="span-15">About</a>
                            </li>

                        </ul>
                    </div>
                    <a href="{% url 'dashboard:guidelines' %}" class="common-button is-bg">UAV Guidelines</a>
                </div>
                <div class="toggle-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="banner-section">
    <div class="container container-mod">
        <div class="wrap-container">
            <div class="row no-gutters">
                <div class="col-lg-9 col-md-12 col-12">
                    <div class="banner">
                        <h1>Welcome to the Nepal Drone Portal</h1>
                        <ul>
                            <li class="list-item">
                                <h2><i class="material-icons">check_circle</i> What do I need to do to Fly? Here you can
                                    learn <a href="{% url 'dashboard:guidelines' %}">general information</a> about drone
                                    registration</h2>
                            </li>
                            <li class="list-item">
                                <h2><i class="material-icons">check_circle</i> How to apply for a flight authorization
                                </h2>
                            </li>
                            <li class="list-item">
                                <h2><i class="material-icons">check_circle</i> You have concerns or questions about a
                                    drone operation, find out how to file a complaint
                                </h2>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="site-footer home-footer">
    <div class="container">
        <div class="wrap-container">
            <div class="footer-in">
                <p class="footer-left">© 2020 Drone Registry Nepal. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Jquery Core Js -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/custom-datatable.js' %}"></script>
<script src="{% static 'js/drone.js' %}"></script>
</body>

</html>