{% extends 'flightres/base.html' %}
{% load static %}
{% block links %}
<style>
    #mapid { height: 790px; }
</style>
{% endblock links %}

{% block body %}
<main class="admin-main pd-0">
                <header class="site-header map-header">
                        <div class="header-in">
                            <div class="left is-flex">
                                <div class="form-group inline-group mb-0">
                                    <input class="form-control" type="date"/>
                                    <input class="form-control" type="date"/>
                                </div>
                                <div class="buttons is-flex">
                                    <button class="common-button is-bg is-auto">Apply</button>
                                    <button class="common-button is-clear is-auto">Reset</button>
                                </div>
                            </div>
                            <div class="right is-flex">
                                <div class="custom-select-wrap">
                                    <label>Flight Status</label>
                                    <div class="custom-select">
                                        <p class="selected-item">
                                            <span>All</span>
                                        </p>
                                        <ul class="select-list">
                                            <li><span>Approved</span></li>
                                            <li><span>Pending</span></li>
                                            <li><span>Rejected</span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="custom-select-wrap">
                                    <label>Complaint Status</label>
                                    <div class="custom-select">
                                        <p class="selected-item selected">
                                            <span>Pending</span>
                                        </p>
                                        <ul class="select-list">
                                            <li><span>All</span></li>
                                            <li><span>Approved</span></li>
                                            <li><span>Rejected</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </header>
                <section class="map-section">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.0637245432217!2d85.32483371548216!3d27.715318681747714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190e4e3dfaeb%3A0xcbadb01fa8d00b71!2sNaxal%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1606727970060!5m2!1sen!2snp" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <div class="legend-body">
                        <span class="title">Categories</span>
                        <ul class="legend">
                            <li class="legend-item">
                                <a href="#/">
                                    <span class="circle approved"></span>
                                    <span class="label">Approved</span>
                                </a>
                            </li>
                            <li class="legend-item">
                                <a href="#/">
                                    <span class="circle pending"></span>
                                    <span class="label">Pending</span>
                                </a>
                            </li>
                            <li class="legend-item">
                                <a href="#/">
                                    <span class="circle rejected"></span>
                                    <span class="label">Rejected</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>

        </div>
    </div>
{% endblock body %}
{% block footer_links %}
{% endblock footer_links %}
