{% extends 'flightres/base.html' %}
{% load static %}
{% block links %}
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<style>
    #mapid {
        
        height: inherit;
        width: 100%; 
    }


    
    .leaflet-control-layers {
        position: absolute;
        right:20px;
        top:80px;
    }
    .leaflet-control-layers-expanded {
        width: 130px;
    }
    .leaflet-control-zoom {
        position: absolute;
        left:20px;
        top:80px;
    }
    .leaflet-control-fullscreen {
        position: absolute;
        left:20px;
        top:160px;
    }
    .
    
</style>
{% endblock links %}

{% block body %}




<main class="admin-main pd-0">
    <form id='myform' method="post" action="{% url 'dashboard:flightview' %}" enctype="multipart/form-data">
        {% csrf_token %}
                <header class="site-header map-header" style='z-index:9090;'>
                        <div class="header-in">
                            
                                
                            <div class="left is-flex" style='max-width: 70%;'>
                              
                                <div class="custom-select-wrap">
                                    <div id='flt_dropdown' class="custom-select">
                                        </p>
                                        <ul class="select-list">

                                        </ul>    
                                    </div>
                                </div>
                              
                                
                                
                                
                            </div>
                            <div class="right is-flex" style='max-width: 30%;'>
                                
                               
                               
                               
                                
                            </div>
                            
                        </div>
                </header>
                </form>
         
                <section class="map-section" style='position:relative;'>
                    
                    <div id="mapid"></div>
                    
                    <div class="legend-body" style='z-index:9090;position:absolute;left:auto;right:40px;bottom:40px;'>
                        <ul class="legend">
                            
           
                            <li class="legend-item">
                                <a href="javascript:void()">
                                    <div class="circle-marker-legend is-red" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="15px" height="15px" src="/staticfiles/img/drone-icon.svg" alt="My image" style=""></div>
                                    <span class="label">Completed Flights</span>
                                </a>
                            </li>
                           
            
                        </ul>
                    </div>
                </section>
            </main>

        </div>
    </div>
    
{% endblock body %}
{% block footer_links %}

<script>
    var defa = [27.71, 85.32]
    var noFlyZone = '{{obj}}'
    noFlyZone = noFlyZone.replace(/&quot;/g, '"')
    var noFlyZone_json = JSON.parse(noFlyZone)
    //var noFlyZone_area = noFlyZone['features'][0]['geometry']['coordinates']
    //console.log(typeof noFlyZone_json['features'][0])
    var dataset = [{% if data3 %}{% for x in data3 %}
                [{{x.latitude}},'{{x.status}}', {{x.longitude}}, '{{x.altitude}}',{{ x.uav_uid }}],
                {% endfor %}{% else %}{% for x in object_list %}
                [{{x.latitude}},'{{x.status}}', {{x.longitude}}, '{{x.altitude}}',{{ x.uav_uid }}],
                {% endfor %}{% endif %}];
    var dataset_comp = [{% if data_rep %}{% for x in data_rep %}
                        [{{x.latitude}}, '{{x.status}}', {{x.longitude}}, {{x.uav_uid}}],
                        {% endfor %}{% endif %}];
    //var mymap = L.map('mapid', {zoomControl: false}).setView({% if not data3 %}{% if data_rep %}[dataset_comp[0][0], dataset_comp[0][2]], 8{% else %}[defa[0], defa[1]], 7{% endif %}{% else %}[dataset[0][0], dataset[0][2]], 8{% endif %});
    var mymap = L.map('mapid',{
        zoomControl: false,
        fullscreenControl: {
            pseudoFullscreen: false // if true, fullscreen to page width and height
        }}).setView({% if not data3 %}{% if data_rep %}[dataset_comp[0][0], dataset_comp[0][2]], 8{% else %}[defa[0], defa[1]], 7{% endif %}{% else %}[dataset[0][0], dataset[0][2]], 8{% endif %});
    L.control.zoom().addTo(mymap);

    var markersClusterGroup = L.markerClusterGroup();
    for (var x = 0; x < noFlyZone_json.length; x++) {
        
        var noFlyZoneLayer = new L.GeoJSON.AJAX("../../uploads/shp_files/"+ String(noFlyZone_json[x]), {style : {
            "color": "red",
            "weight": 3,
            "opacity": 1
        }}).addTo(mymap);
        
    }
    
    var geojsonLayer = new L.GeoJSON.AJAX("../../staticfiles/data/nepal.geojson",{style:{
        "color": "#04AA66",
        "weight": 5,
        "opacity": 0.65
    }});       
        geojsonLayer.addTo(mymap);
    osm = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2lqYW4zNSIsImEiOiJja2FvM2h0bHMxazNlMnRwNnV4MGU1bDg2In0.JiZ6xxDTNT1zuIhdo9PTeA', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/light-v10',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);
    var mark = [];
    var cir = 0;
    var mark1 = [];
    //var cir1 = [];
    var greenIcon = L.divIcon({
        className: `circle-marker-complaint is-green`,

        html:`<img width="16px" height="16px" src='/staticfiles/img/complaint-greenIcon.svg' alt="My image">`,
        iconSize:     [38, 50], // size of the icon
        shadowSize:   [50, 64], // size of the shadow

    });
    var orangeIcon = L.divIcon({
        className: `circle-marker-complaint`,

        html:`<img width="16px" height="16px" src='/staticfiles/img/complaint-orangeIcon.svg' alt="My image">`,
        iconSize:     [38, 50], // size of the icon
        shadowSize:   [50, 64], // size of the shadow

    });
    for(i=0;i<dataset.length;i++) {
        customPopup = '<div class="bind-popup" style="margin-right:auto;margin-left:14%;"> <div class="bind-header"> <table style="width:100%"><tr><th>ID</th><th>Altitude</th><th>Status</th></tr><tr><td>'+ dataset[i][4] +'</td><td>'+ dataset[i][3] +'</td><td>'+ dataset[i][1] +'</td> </tr></table> <p><i class="fa fa-map-marker"></i> </p><em><span> </span> </em></div><a href="openSpace_details.html" class="openSpace_btn"></a></div><ul><li></li><li></li></ul>'
        var testIcon = L.divIcon({
            className: `circle-marker ${dataset[i][1] === 'Approved' ?"is-green": dataset[i][1] === 'Rejected'? 'is-red':'is-orange'}`,
            // html: "<img src='/static/img/drone-icon.svg' alt='drone-img'/>",
            // html:`<img src='{% static "img/drone-icon.svg" %}' alt="My image">`,
            html:`<img src='/staticfiles/img/drone-icon.svg' alt="My image">`,
            iconSize:     [38, 50], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
           
        });
        mark[i] = L.marker([dataset[i][0], dataset[i][2]], {icon:testIcon});
        markersClusterGroup.addLayer(mark[i]);
        cir += 1;
      

        mark[i].bindPopup(customPopup);
    }

    for(i=0;i<dataset_comp.length;i++) {
        customPopup1 = '<div class="bind-popup" style="margin-right:auto;margin-left:25%;"> <div class="bind-header"> <table style="width:100%"><tr><th style="padding-right:10px;">ID</th><th style="padding-left:10px;">Status</th></tr><tr><td style="padding-right:10px;">'+ dataset_comp[i][3] +'</td><td style="padding-left:10px;">'+ dataset_comp[i][1] +'</td> </tr></table> <p><i class="fa fa-map-marker"></i> </p><em><span> </span> </em></div><a href="openSpace_details.html" class="openSpace_btn"></a></div><ul><li></li><li></li></ul>'

        
       
        if(dataset_comp[i][1] == 'Completed') {
            mark1[i] = L.marker([dataset_comp[i][0], dataset_comp[i][2]], {icon:orangeIcon});
            markersClusterGroup.addLayer(mark1[i]);
          
           cir += 1;

       
        };
        
        mark1[i].bindPopup(customPopup1);
    }
    mymap.addLayer(markersClusterGroup);
    if(cir > 1) {

        var group = new L.featureGroup(mark.concat(mark1));

        mymap.fitBounds(group.getBounds(), {padding:[50, 50]});
    }
    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });


    var baseLayers = {
            "OpenStreetMap": osm,
            "Google Streets": googleStreets,
            "Google Hybrid": googleHybrid,
            "Google Satellite": googleSat,
            "Google Terrain": googleTerrain,

        };
      
    layerswitcher = L.control.layers(baseLayers, {}, { collapsed: true}).addTo(mymap);

   // popup = marker.bindPopup("Lat:28.209499,Long:83.959518").openPopup();
</script>
<script>
    $(function() {
        $(".stat").on("click",function(e) {
            e.preventDefault();
            if ($(this).hasClass('stat')) {
                var sta = $(this).attr('value'); 
            }else {
                var sta = $(this).attr('id'); 
            }
            
            switch (sta) {
                case 'Completed':
                case 'flt_approved':
                    if ($('#flt_completed').prop('checked') == true) {
                        $('#flt_completed').prop('checked', false);
                        $('#flt_completed').attr('value', '');
                    }else{
                        $('#flt_completed').prop('checked', true);   
                        $('#flt_completed').attr('value', 'Approved');
                    }
                    break;
                        
            }
            if (sta != ''){
                if ($('#flt_approved').prop('checked') == false && $('#flt_pending').prop('checked') == false && $('#flt_rejected').prop('checked') == false && $('#flt_completed').prop('checked') == false ) {
                    document.getElementById('flt_select').innerHTML = 'Select One';
                } else {
                    document.getElementById('flt_select').innerHTML = 'View Selection';
                } 
            }; 
        });
    });
</script>

<script>
    $(function() {
        $('#reset').on('click', function(e){
            e.preventDefault();
            $('#myform').trigger('reset');
            $("#flt_completed").prop('checked', false);

            $('.date').attr('value', '')
            
            document.getElementById('flt_select').innerHTML = 'Select One';
            document.getElementById('comp_select').innerHTML = 'Select One';
        })
    })
</script>

{% endblock footer_links %}