{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Nepal Drone Portal">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="Nepal Drone Portal">
    <meta property="og:title" content="Nepal Drone Portal">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://naxa.com.np">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Nepal Drone Portal">
    <meta name="twitter:creator" content="@Nepal Drone Portal">
    <meta name="twitter:title" content="Nepal Drone Portal">
    <meta name="twitter:description" content="Nepal Drone Portal">
    <meta name="twitter:image" content="preview.html">

    <!--title-->
    <title>Nepal Drone Portal</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">

    <!-- stylesheet start -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.min.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <style>
        #mapid {
        
        height: inherit;
        width: 100%; }
    </style>
</head>

<body class="home-pg">

<header class="site-header">
    <div class="top-header">
        <div class="container">
            <div class="wrap-container">
                <ul>
                    <li><a href="/np/dashboard/mapview">No-Fly Zone</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/np/dashboard">Dashboard</a></li>
                    {% else %}
                    <li><a href="/np/dashboard">Login</a></li>
                    {% endif %}
                    <!-- <li class=form-group>
                        <select class="form-control" name="lang" id="lang">
                            <option value="Eng">Eng</option>
                            <option value="Nep">Nep</option>
                        </select>
                        <i class="material-icons">arrow_drop_down</i>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrap-container">
            <div class="header-in">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'img/logo-blue.png' %}"/>
                </a>
                <div class="menu-wrap">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}" class="active span-15">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard:about' %}" class="span-15">About</a>
                            </li>

                        </ul>
                    </div>
                    <a href="{% url 'dashboard:guidelines' %}" class="common-button is-bg">UAV Guidelines</a>
                </div>
                <div class="toggle-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    
</header>

<main class="about-section"style='margin-top:40px'>
    <div class="container">
            <section class="map-section" style='position:relative;'>
                    
                <div id="mapid"></div>
                <!--
                <div class="legend-body" style='z-index:9090;'>
                    <span class="title">Categories</span>
                    <ul class="legend">
                        
                        <li class="legend-item">
                            <a href="javascript:void()">
                                <div class="circle-marker-legend is-green" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="15px" height="15px" src="/staticfiles/img/drone-icon.svg" alt="My image" style=""></div>
                                <span class="label">Approved Flights</span>
                                

                            </a>
                        </li>
                        <li class="legend-item">
                            <a href="javascript:void()">
                                <div class="circle-marker-legend is-orange" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="15px" height="15px" src="/staticfiles/img/drone-icon.svg" alt="My image" style=""></div>
                                <span class="label">Pending Flights</span>
                            </a>
                        </li>
                        <li class="legend-item">
                            <a href="javascript:void()">
                                <div class="circle-marker-legend is-red" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="15px" height="15px" src="/staticfiles/img/drone-icon.svg" alt="My image" style=""></div>
                                <span class="label">Rejected Flights</span>
                            </a>
                        </li>
                        <li class="legend-item">
                            <a href="javascript:void()">
                                <div class="circle-marker-complaint-legend is-orange" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="12px" height="12px" src="/staticfiles/img/complaint-orangeIcon.svg" alt="My image" style=""></div>
                                <span class="label">Pending Complaints</span>
                            </a>
                        </li>
                        <li class="legend-item">
                            <a href="javascript:void()">
                                <div class="circle-marker-complaint-legend is-green" tabindex="0" style="width: 25px;height: 25px;z-index: 381;outline: none;"><img width="12px" height="12px" src="/staticfiles/img/complaint-greenIcon.svg" alt="My image" style=""></div>

                                <span class="label">Resolved Complaints</span>
                            </a>
                        </li>
                    </ul>
                </div>
            -->
            </section>
    </div>
</main>



<footer class="site-footer home-footer">
    <div class="container">
        <div class="wrap-container">
            <div class="footer-in">
                <p class="footer-left">© 2020 Nepal Drone Portal. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Jquery Core Js -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<script src="{% static 'js/leaflet.ajax.min.js' %}"></script>

<script src="{% static 'datatable/datatables.min.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script>
    var noFlyZone = '{{noflyZone}}'
    var das = '{{dat}}'
    das = das.replace(/&quot;/g, '"');
    noFlyZone = noFlyZone.replace(/&quot;/g, '"');
    var noFlyZone_json = JSON.parse(noFlyZone);
    var dat = ['{{lat}}', '{{lng}}']
    var mymap = L.map('mapid',{
        fullscreenControl: {
            pseudoFullscreen: false // if true, fullscreen to page width and height
        }}).setView([parseFloat(dat[0]), parseFloat(dat[1])], 7);
    var orangeIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    if (das == 'True') {
        var mark = L.marker(
            L.latLng(
                parseFloat(dat[0]),
                parseFloat(dat[1])
            ), {icon:orangeIcon}
        ).addTo(mymap);
    }
    
    for (var x = 0; x < noFlyZone_json.length; x++) {
        var noFlyZoneLayer = new L.GeoJSON.AJAX("../../uploads/shp_files/"+ String(noFlyZone_json[x]), {style : {
            "color": "red",
            "weight": 3,
            "opacity": 1
        }}).addTo(mymap);
        
    }
    
    var geojsonLayer = new L.GeoJSON.AJAX("../../staticfiles/data/nepal.geojson",{style:{
        "color": "#04AA66",
        "weight": 5,
        "opacity": 0.65
    }});       
    geojsonLayer.addTo(mymap);
    osm = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2lqYW4zNSIsImEiOiJja2FvM2h0bHMxazNlMnRwNnV4MGU1bDg2In0.JiZ6xxDTNT1zuIhdo9PTeA', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/light-v10',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);
    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

    

    var baseLayers = {
            "OpenStreetMap": osm,
            "Google Streets": googleStreets,
            "Google Hybrid": googleHybrid,
            "Google Satellite": googleSat,
            "Google Terrain": googleTerrain,

        };

    layerswitcher = L.control.layers(baseLayers, {}, { collapsed: true,
    position: 'topright' }).addTo(mymap);
</script>
</body>

</html>