{% extends 'flightres/base.html' %}
{% load static %}
{% load app_filter %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}">
{% endblock links %}

{% block body %}
<main class="admin-main">
    <div class="main-card">
        <div class="card-header">
            <h1>Operators Database</h1>
        </div>
        {% for messages in messages %}
        <div class="alert alert-danger">
            <strong>{{ messages }}</strong>
        </div>
        {% endfor %}
        <div class="card-body">
            <button style="right: 176px;" class="common-button is-bg link-btn"><a modal-link="upload-sheet-modal1" class="modal-link"
                    data-toggle="modal" data-target="#upload-sheet-modal1">Add
                    Data</a></button>
            <button class="common-button is-bg link-btn"><a modal-link="upload-sheet-modal" class="modal-link"
                    data-toggle="modal" data-target="#upload-sheet-modal">Upload
                    Sheet</a></button>
            <table id="admin-datatable" class="admin-datatable operators-tables">
                <thead>
                    <tr>
                        <th class="serial-th">S.N.</th>
                        <th>Certificate Number</th>
                        <th>Unique Identification Number</th>
                        <th>Owner</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>UAV Manufacturer & Model</th>
                        <th>Serial Number</th>
                        <th>Date of Manufacture</th>
                        <th>RPA/Drone Type</th>
                        <th>Weight (Kg)</th>
                        <th>Color</th>
                        <th>Initial Issued Date</th>
                        <th>Renewal Date</th>
                        <th>Validity</th>
                        <th>Remarks</th>
                        <th>Total approved flights</th>
                        <th>Total pending flights</th>
                        <th>Total rejected flights</th>
                        <th class="modal-th"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.certification_number }}</td>
                        <td>{{ object.unid }}</td>
                        <td><b>{{ object.operator.company_name }}</b></td>
                        <td>{{ object.operator.address.address_line_1 }}
                            ,{{ object.operator.address.city }}
                            ,{{ object.operator.address.country }}
                        </td>
                        <td>{{ object.operator.phone_number }}</td>
                        <td>{{ object.operator.email }}</td>
                        <td>{{ object.manufacturer.full_name }}</td>
                        <td>{{ object.registration_mark }}</td>
                        <td>{{ object.begin_date.date }}</td>
                        <td>{{ object.category }}</td>
                        <td>{{ object.mass }}</td>
                        <td>{{ object.color }}</td>
                        <td>{{ object.initial_issued_date.date }}</td>
                        <td>{{ object.renewal_date.date }}</td>
                        <td>{{ object.validity }}</td>
                        <td>{{ object.remarks|truncatewords:"3" }}</td>
                        <td>{{ test|approve:object.unid }}</td>
                        <td>{{ test|pending:object.unid }}</td>
                        <td>{{ test|rejected:object.unid }}</td>
                        <td><a modal-link="opt{{object.id}}" class="modal-link"><i class="material-icons"
                                    data-toggle="modal" data-target="#opt{{object.id}}">chevron_right</i></a>
                            <div class="popup" tabindex="-1" role="dialog" id="opt{{object.id}}">
                                <div class="popup-container lg-popup map-popup">
                                    <div class="popup-body">
                                        <span class="close-icon"><i class="material-icons">close</i></span>
                                        <div class="popup-header">
                                            <h3>Operators Database for <b>Aircraft {{ object.popular_name }}</b></h3>

                                        </div>
                                        <div class="popup-content">
                                            <div class="drone-details">
                                                <div class="row gx-md-3 gx-lg-3">
                                                    <div class="col-xl-12 col-sm-12">
                                                        <div class="drone-content col-left col-operators">
                                                            <ul>
                                                                <li>
                                                                    <h4>Operators info</h4>
                                                                    <div class="content-list">
                                                                        <p><b>Certificate
                                                                                Number</b><span>{{ object.certification_number }}</span>
                                                                        </p>
                                                                        <p><b>Unique Identification
                                                                                Number</b><span>{{ object.unid }}</span>
                                                                        </p>
                                                                        <p><b>Company
                                                                                Name</b><span>{{ object.operator.company_name }}</span>
                                                                        </p>
                                                                        <p><b>Manufacturer & Model</b><span>
                                                                                {{ object.manufacturer.full_name  }}</span>
                                                                        </p>
                                                                        <p><b>Registration
                                                                                Mark</b><span>{{ object.registration_mark }}</span>
                                                                        </p>
                                                                        <p><b>Color</b><span>{{ object.color }}</span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="popup-footer popup-permission">
                                            <!-- <button type="" class="common-button is-border cancel-button">Dany</button>
                                                    <button type="submit" class="common-button is-bg">Approved</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="popup" tabindex="-1" role="dialog" id="upload-sheet-modal">
        <div class="popup-container lg-popup map-popup">
            <div class="popup-body">
                <span class="close-icon"><i class="material-icons">close</i></span>
                <div class="popup-header">
                    <h3><b>Upload Data Sheet</b></h3>

                </div>
                <div class="popup-content">
                    <div class="drone-details">
                        <div class="row gx-md-3 gx-lg-3">
                            <div class="col-xl-12 col-sm-12">
                                <div class="drone-content col-left col-operators">
                                    <form action="{% url 'dashboard:upload-sheet-new' %}" method="POST"
                                        enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {% if form.errors %}
                                                {% for field in form %}
                                                {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ field.name|title }} {{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% for messages in messages %}
                                                <div class="success">
                                                    <strong>{{ messages }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                        <div class="form-group">
                                            <label for="name">Category:</label>
                                            <select class="form-control" name="name" id="name" >
                                                <option value="b">B</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="fileUpload">Upload your file</label>
                                            <input class="form-control" type="file" accept=".xls,.xlsx,.csv" name="sheet" id="sheet">
                                        </div>
                                        <br>
                                        <div class="buttons is-end">
                                            <button type="submit" class="common-button is-bg">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="popup" tabindex="-1" role="dialog" id="upload-sheet-modal1">
        <div class="popup-container lg-popup map-popup">
            <div class="popup-body">
                <span class="close-icon"><i class="material-icons">close</i></span>
                <div class="popup-header">
                    <h3><b>Upload Data</b></h3>

                </div>
                <div class="popup-content">
                    <div class="drone-details">
                        <div class="row gx-md-3 gx-lg-3">
                            <div class="col-xl-12 col-sm-12">
                                <div class="drone-content col-left col-operators">
                                    <form action="{% url 'dashboard:upload-data' %}" method="POST"
                                        enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {% if form.errors %}
                                                {% for field in form %}
                                                {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ field.name|title }} {{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% for messages in messages %}
                                                <div class="success">
                                                    <strong>{{ messages }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for=" company_name">Owner</label>
                                            <select class="form-control" name=" operator" id=" company_name" required>
                                                {% for data in opedata %}
                                                    <option value="{{data.id}}" selected>{{ data.company_name }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="manufacturer">UAV Manufacture and Model</label>
                                            <select class="form-control" name="manufacturer" id="manufacturer" required>
                                                {% for data in mandata %}
                                                    <option value="{{data.id}}" selected>{{data.full_name}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Certificate No.</label>
                                            <input type="text" class="form-control" name="certification_number" required>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Unique Identification No.</label>
                                            <input type="number" class="form-control" name="unid" required>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Address</label>
                                            <input type="text" class="form-control" name="address" required>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Contact</label>
                                            <input type="text" class="form-control" name="phone_number" required>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Email</label>
                                            <input type="email" class="form-control" name="email" required>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Serial No</label>
                                            <input type="text" class="form-control" name="registration_mark" required>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Date Of Manufacture</label>
                                            <input type="date" class="form-control" name="begin_date" required>

                                            </div>
                                            </div>
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="category">RPA/DRONE TYPE</label>
                                                    <select class="form-control" name="category" id="category" required >
                                                        <option value="Other" >Other</option>
                                                        <option value="FIXED WING" >FIXED WING</option>
                                                        <option value="ROTORCRAFT" >ROTORCRAFT</option>
                                                        <option value="LIGHTER-THAN-AIR" >LIGHTER-THAN-AIR</option>
                                                        <option value="HYBRID LIFT" >HYBRID LIFT</option>
                                                        <option value="MULTI-COPTER" >MULTI-COPTER</option>
                                                    </select>

                                                </div>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label for="name">Weight</label>
                                            <input type="float" class="form-control" name="mass" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Colour</label>
                                            <input type="text" class="form-control" name="color" required>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Initial Issued Date</label>
                                            <input type="date" class="form-control" name="initial_issued_date" required>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Renewal Date</label>
                                            <input type="date" class="form-control" name="renewal_date" required>

                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Validity</label>
                                            <input type="number" class="form-control" name="validity" required>
                                        </div>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                            <label for="name">Remarks</label>
                                                <textarea  class="form-control" name="remarks" required></textarea>
                                        </div>
                                        <br>
                                        <div class="buttons is-end">
                                            <button type="submit" class="common-button is-bg">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}