{% extends "flightres/base.html" %}

{% load static %}

{% block links %}

<link rel="stylesheet" href="{% static 'css/custom-charts.css' %}">

<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Password reset confirmation
</div>
{% endblock %}

{% block body %}

{% if validlink %}

<p style="text-align: center;">Please enter your new password twice so we can verify you typed it in correctly</p>


<form class="auth_form" method="post" action="">
    {% csrf_token %}
   
    <div class="form-group">
        {{ form.new_password1.errors }}
        <label for="" class="">New Pasword</label>
        {{ form.new_password1 }}
        <input name="username" type="text" class="form-control" placeholder="new password" />
    </div>
    <div class="form-group">
        {{ form.new_password2.errors }}
        <label for="" class="">Confirm Password</label>
        {{ form.new_password2 }}
        <input name="password" type="password" class="form-control" placeholder="*********" />
    </div>


    <footer class="login-footer">
        <button type="submit" class="common-button is-bg" style="background: #117BCC;
        ">Change my password</button>
    </footer>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock body %}








<!-- <form method="post">{% csrf_token %}
<fieldset class="module aligned" style="text-align: center;">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New password</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Change my password">
</fieldset>
</form>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock body %} -->