{% extends 'flightres/base.html' %}

{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}">
{% endblock %}

{% block body %}

<main class="admin-main">
    <div class="main-card">
            <h1>Reset Password</h1>
    </div>
    <br>
    <p>Forgotten your password? Enter your email address below, and we will email instructions for setting a new one</p>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            {{ form.email.errors }}
            <label for="id_email">Email Address:</label>
            {{ form.email }}
        </div>
        <div class="mt-4">
            <input type="submit" class="btn btn-primary" value="Reset my password" />
        </div>
    </form>
{% endblock body %}
