{% load static %}

<body>
    <style>
        .aside.admin-sidebar .admin-aside-body ul.admin-aside-menu li a{
            color: #A8A4A4;
        }
        body{
            font-family: 'Nunito', sans-serif;
        }
        ul li a:hover,ul li a span:focus{
            background-color: #fff;
            color: #117BCC;
        }
        ul li a span:hover{
            color: #117BCC;
        }
         a:hover, a:focus{
            background-color: #fff;
            color: #117BCC; 
        }
    </style>

<aside class="admin-sidebar" style="background-color: #fff; color: #A8A4A4; padding-top: 5%;">

    <div class="admin-aside-body">
        <ul class="admin-aside-menu">
            <li class="is-submenu">
                <a href="{% url 'dashboard:dashboard' %}" style="color: #A8A4A4;">
                    <i class="material-icons">equalizer</i>
                    <span>Dashboard</span>
                </a>

            </li>

            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">flight</i>
                    <span>Flight </span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'flight_request' %}" style="color: #A8A4A4;">Request Flight</a>
                        
                    </li>
                    <li>
                        <a href="{% url 'pending_requests' %}" style="color: #A8A4A4;">Pending Requests</a>
                        
                    </li>
                    <li>
                        <a href="{% url 'delayed_requests' %}" style="color: #A8A4A4;">Delayed Requests</a>
                        
                    </li>
                    <li>
                        <a href="{% url 'scheduled_requests' %}" style="color: #A8A4A4;">Scheduled Requests</a>
                        
                    </li>
                    
                </ul>
            
            </li>
       
           
            <!-- <li class="is-submenu">
                <a href="{% url 'dashboard:flightview' %}" style="color: #A8A4A4;">
                    <i class="material-icons">location_on</i>
                    <span>All Flights Map</span>
                </a>

            </li> -->
            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">group</i>
                    <span>Shipments</span>
                </a>

             
            <ul class="submenu">
                <li>
                    <a href="{% url 'shipment:schedule_shipments' %}" style="color: #A8A4A4;"> Schedule Shipment</a>
                    <a href="{% url 'shipment:shipment' %}" style="color: #A8A4A4;">Scheduled Shipments Lists</a>
                    <a href="{% url 'shipment:delayed_shipments' %}" style="color: #A8A4A4;">Delayed Shipments Lists</a>
                    <a href="{% url 'shipment:completed_shipments' %}" style="color: #A8A4A4;">Completed Shipments Lists</a>


                </li>
            </ul>
                <!-- <ul class="submenu">
                    <li>
                        <a href="{% url 'dashboard:operators' %}" style="color: #A8A4A4;">Manage Drone Operators</a>
                    </li>
                </ul> -->
            </li>
           
            {#            <li class="is-submenu">#}
            {#                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">#}
            {#                    <i class="material-icons">settings</i>#}
            {#                    <span>Page Management</span>#}
            {#                </a>#}
            {#                <ul class="submenu">#}
            {#                    <li>#}
            {#                        <a href="javascript:void(0);" style="color: #A8A4A4;">Management</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}

            <!-- Register clinic -->
            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">location_on</i>
                    <span>Clinics</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'clinic_upload' %}" style="color: #A8A4A4;"> Register Clinic</a>
                    </li>
                
                    <li>
                        <a href="{% url 'view_clinics' %}" style="color: #A8A4A4;"> View Clinics</a>
                    </li>
                </ul>

          

            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">equalizer</i>
                    <span>Complaints and Concerns</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'dashboard:complain-list' %}" style="color: #A8A4A4;">Manage Civilian Complaints</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</aside>
</body>