{% load static %}

<body>
    <style>
        .aside.admin-sidebar .admin-aside-body ul.admin-aside-menu li a{
            color: #A8A4A4;
        }
        body{
            font-family: 'Nunito', sans-serif;
        }
        ul li a:hover,ul li a span:focus{
            background-color: #fff;
            color: #117BCC;
        }
        ul li a span:hover{
            color: #117BCC;
        }
         a:hover, a:focus{
            background-color: #fff;
            color: #117BCC; 
        }
    </style>

<aside class="admin-sidebar" style="background-color: #fff; color: #A8A4A4; padding-top: 5%;">
    <!-- <header class="admin-aside-header">
        <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'img/admin-logo.png' %}" alt="Drone logo"/></a>
        <a href="#" class="toggle-sidebar">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </header> -->
    <div class="admin-aside-body">
        <ul class="admin-aside-menu">
            <li class="is-submenu">
                <a href="{% url 'dashboard:dashboard' %}" style="color: #A8A4A4;">
                    <i class="material-icons">equalizer</i>
                    <span>Dashboard</span>
                </a>

            </li>

            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">flight</i>
                    <span>Flight </span>
                </a>
                <!-- <ul class="submenu">
                    <li>
                        <a href="{% url 'dashboard:permission' type='general' %}" style="color: #A8A4A4;">Manage Flight Permissions</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard:permission'  type='special' %}" style="color: #A8A4A4;">Manage Special Flight Permissions</a>
                    </li>
                    
                </ul> -->
            </li>
            <li class="is-submenu">
                <a href="{% url 'dashboard:flightview' %}" style="color: #A8A4A4;">
                    <i class="material-icons">location_on</i>
                    <span>All Flights Map</span>
                </a>

            </li>
            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">group</i>
                    <span>Shipments</span>
                </a>
                <!-- <ul class="submenu">
                    <li>
                        <a href="{% url 'dashboard:operators' %}" style="color: #A8A4A4;">Manage Drone Operators</a>
                    </li>
                </ul> -->
            </li>
            <!-- {#            <li class="is-submenu">#}
            {#                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">#}
            {#                    <i class="material-icons">airplanemode_active</i>#}
            {#                    <span>Drone Database</span>#}
            {#                </a>#}
            {#                <ul class="submenu">#}
            {#                    <li>#}
            {#                        <a href="javascript:void(0);" style="color: #A8A4A4;">Management</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#} -->
           
            {#            <li class="is-submenu">#}
            {#                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">#}
            {#                    <i class="material-icons">settings</i>#}
            {#                    <span>Page Management</span>#}
            {#                </a>#}
            {#                <ul class="submenu">#}
            {#                    <li>#}
            {#                        <a href="javascript:void(0);" style="color: #A8A4A4;">Management</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}

            <!-- <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">person</i>
                    <span>User</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'logout' %}?next=/" style="color: #A8A4A4;"> Logout</a>
                        <a href="{% url 'dashboard:changepassword' %}" style="color: #A8A4A4;">Change Password</a>
                    </li>
                </ul>
            </li> -->

            <!-- Register clinic -->
            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">location_on</i>
                    <span>Clinics</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'register_clinic' %}" style="color: #A8A4A4;"> Register Clinic</a>
                        <a href="{% url 'view_clinic' %}" style="color: #A8A4A4;">View Clinics</a>
                    </li>
                </ul>

            </li>

            <li class="is-submenu">
                <a href="javascript:void(0);" class="menu-title" style="color: #A8A4A4;">
                    <i class="material-icons">equalizer</i>
                    <span>Complaints and Concerns</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'dashboard:complain-list' %}" style="color: #A8A4A4;">Manage Civilian Complaints</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</aside>
</body>