{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}


{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  th {
    color: #117BCC !important;
    font-weight: bold;
  }

  .heading {
    margin-bottom: 2.5%;
    font-size: 1.5rem;
  }

  /* .search{
    margin-left: 30%;
  } */
</style>


<!-- <div class="search">
  <form method="get" class="w-100" action="{% url 'shipments:search_shipment' %}">
    <button type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
    <input type="search" placeholder="shipment_id" name="search" />
  </form>
  {%if message%}
  <h6>{{message}}</h6>
  {%endif%}

  {%if results%}
  <p class="results">Found {{results}} clinic{{ results|pluralize }}</p>
  {%endif%}
</div> -->

<main class="admin-main">
  <div class="panel panel-default">

    <div class="float-right" style="margin-top: 3.5%; margin-bottom: 0.25%">
      <p>Total Scheduled Shipments:
      <h3>{{ schedule_count }}</h3>
      </p>
    </div>

    <p class="heading" style="color: #117BCC;"> Pending requests</p>


    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="3"
        data-order=" [[ 2, " asc" ]]">
        <thead>
          <tr>
            <th>Clinic(CSB) Name</th>
            <th>Delivery Date</th>
            <th>Weight</th>
            <th>Priority</th>
            <th>Refrigration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for request in requested_flights %}
          <tr>
            <td>{{request.clinic_name}}</td>
            <td>{{request.delivery_date }}</td>
            <td>{{request.total_volume}}</td>
            <td>{{request.priority_level}}</td>
            <td>{{request.refrigration}}</td>

            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{request.id}}">
                Action
              </button></td>


          </tr>

          <!--  Modal -->
          <div class="modal fade" id="myModal{{request.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Action Pending Request</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Confirm the Schedule of flight request to {{request.clinic_name}} in {{request.total_volume}}
                    on {{request.delivery_date}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-toggle="modal"
                    data-target="#delayModal{{request.id}}" data-dismiss="modal">Delay</button>
                  <form method="POST" action="{%url 'scheduled_requests'%}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ request.id }}">
                    <button class="btn btn-primary" type="submit">Schedule</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Delay Modal -->

          <div class="modal fade" id="delayModal{{request.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delay Shipment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" id="{{request.id}}" action="{%url 'delayed_requests'%}">
                    {% csrf_token %}
                    {{form}}

                    <!-- <input> -->
                    <label>Reason for Delay</label><br>
                    <input type="hidden" name="pk" value="{{ request.id}}">
                    <input type="text" name="reason" value="reason">
                </div>
                <div>

                  <!-- <input> -->
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </tbody>

        {%empty%}
        <p>Looks like clinic does not exist</p>

        {%endfor%}
      </table>
    </div>
  </div>
</main>
{%endblock body%}

<script>

  // $(document).ready(function () {
  //     $('#dataTable').DataTable();
  // });
  $(document).ready(function () {
    $('#dataTable').DataTable({
      "paging": true,
      "pageLength": 10,
      "lengthChange": true,
      "searching": true,
      "filter": true,
      "ordering": true,
      "bInfo": true,
      "bSort": true,
      "autoWidth": true
    });
  });
</script>