{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}

{% block body%}

  <main class="admin-main">
    <div class="panel panel-default">
      <div class="card">
        <form method="post">
          {%csrf_token%}
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Clinic (CSB) Name</label>
              {{flight_form.clinic_name}}
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Total Volume (Litres)</label>
              {{flight_form.total_volume}}
            </div>
          </div>

          <div class="form-row"></div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="inputCity">Delivery Date</label>
              {{form.delivery_date}}
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputAddress2">Priority Level(1=High, 5=Low)</label>
              {{flight_form.priority_level}}
            </div>

            <div class="form-group col-md-6">
              <label for="inputAddress2">Refrigration</label>
              {{flight_form.refrigration }}
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="inputAddress2">Delay Reason</label>
              {{form.delay_reasons}}
            </div>
          </div>
          <button class="btn btn-primary" type="submit">
            Request Flight
          </button>
          <P>Cancel</P>
        </form>
      </div>
    </div>
  </main>


</body>
<style>
  form {
    width: 50%;
    margin: 8% auto;
  }

  input {
    width: 100% !important;
  }
</style>
{% endblock body %}