{% extends 'flightres/base.html' %} {% load static %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />
{% endblock links %}


{% block body %}
<style>
  body {
    font-family: 'Nunito', sans-serif;
  }

  th {
    color: #117BCC !important;
   font-weight: bold;
  }

  .heading{
    margin-bottom: 2.5%;
    font-size: 1.5rem;
  }
  /* .search{
    margin-left: 30%;
  } */
</style>


<!-- <div class="search">
  <form method="get" class="w-100" action="{% url 'shipments:search_shipment' %}">
    <button type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
    <input type="search" placeholder="shipment_id" name="search" />
  </form>
  {%if message%}
  <h6>{{message}}</h6>
  {%endif%}

  {%if results%}
  <p class="results">Found {{results}} clinic{{ results|pluralize }}</p>
  {%endif%}
</div> -->

<main class="admin-main">
  <div class="panel panel-default">

    <div class="float-right" style="margin-top: 3.5%; margin-bottom: 0.25%">
      <p>Total Scheduled Shipments:
      <h3>{{ schedule_count }}</h3>
      </p>
    </div>

    <p class="heading" style="color: #117BCC;"> Scheduled Requests</p>


    <div class="container">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="3" data-order=" [[ 2, "asc" ]]">
          <thead>
              <tr>
                <th>Clinic(CSB) Name</th>
                <th>Delivery Date</th>
                <th>Weight</th>
                <th>Priority</th>
                <th>Refrigration</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            {%for request in scheduled_flight_requests %}
            <tr>
              <td>{{request.clinic_name}}</td>
              <td>{{request.delivery_date }}</td>
              <td>{{request.total_volume}}</td>
              <td>{{request.priority_level}}</td>
              <td>{{request.refrigration}}</td>
            </tr>

            {%empty%}
            <p>Looks like the flight does not exist</p>
            {%endfor%}


          </tbody>
      </table>
    </div>
  </div>
</main>
{%endblock body%}

<script>

// $(document).ready(function () {
//     $('#dataTable').DataTable();
// });
$(document).ready(function () {
    $('#dataTable').DataTable({
      "paging": true,
      "pageLength": 10,
      "lengthChange": true,
      "searching": true,
      "filter": true,
      "ordering": true,
      "bInfo": true,
      "bSort": true,
      "autoWidth": true
      });
    });
</script>