{% include 'flightres/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/apexcharts.css' %}" />

{% endblock links %}

  <style>
    body {
      font-family: 'Nunito', sans-serif;
    }

    .search {
      width: 50%;
      float: right;
      margin-bottom: 2%;
      margin-top: 7%;
      overflow: auto;
    }

    #profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: gray 2px 2px 2px;
      object-fit: cover;
    }

    .search>form>input {
      width: 55%;
      padding: 10px 10px;
      color: #202020;
      border: none;
      border-radius: 8px 8px 8px 8px;
      float: right;
    }

    form>input:focus {
      outline: none;
    }


    .search-button:focus {
      outline: none;
    }

    .search-button {
      border: none;
      outline: none;
      margin-left: 43%;
      text-align: center;
      padding: 5px 5px;
      position: absolute;
      margin-top: 0.5%;
      padding-top: 1%;
      background-color: transparent;
      float: right;
    }

    .search-button>i {
      text-decoration: none;
      float: right;
    }

    .fas {
      color: #4A4A4A;
      float: right;

    }

    th {
      color: #117BCC;
      border-color: #EBEEF5;
    }

    .table>:not(:last-child)>:last-child>* {
      border-bottom-color: #EBEEF5;
    }

    .table>tr>td {
      border-bottom-color: #EBEEF5;
    }

    .table {
      margin-bottom: 4%;
    }

    .admin-main {
      position: relative;
      width: 80%;
      float: right;
    }
  
    @media screen and (max-width: 1300px) {
      .admin-main {
        width: 80%;
        margin: auto;
        margin-right: 1.1%;
      }

      .search-button {
        border: none;
        outline: none;
        margin-left: 43%;
        text-align: center;
        padding: 5px 5px;
        position: absolute;
        margin-top: 0.5%;
        padding-top: 1%;
        background-color: transparent;
        float: right;
      }
    }
  </style>

{%block body%}

<main class="admin-main">
  <div class="panel panel-default">
   
  <div style="overflow: auto; display: block;">
    <div class="search">
      <form method="get" class="w-100" action="{% url 'search_clinic' %}">
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
        </button>
        <input type="search" placeholder="Search by clinic name" name="search" />
      </form>
      {%if message%}
      <h6>{{message}}</h6>
      {%endif%}

      {%if results %}
      <p class="results">Found {{results}} clinic{{ results|pluralize }}</p>
      
      {%endif%}
    </div>
  </div>

  <div class="w-100"></div>

  <div class="row no-gutters mt-4 mb-4">
    <div class="col-8">
      <h5 style=" color: #117BCC;
      ">Registered Clinics</h5>
    </div>
    
    <div class="col-4">
      <div class="row no-gutters">
        <div class="col-6">
          <p style="float: right;">Total scheduled requests</p>
        </div>
        <div class="col-6">
          <p style="float: left; color: #117BCC;
        ">{{count}} clinics </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <table class="table table-hover table-stripped" style="font-size: 1.2em">
      <thead>
        <tr>
          <th>Clinic(CSB) Name</th>
          <th>Delivery Date</th>
          <th>Weight</th>
          <th>Priority</th>
          <th>Refrigration</th>
          <th></th>
        </tr>
      </thead>
      {%for request in scheduled_flight_requests %}
      <tr>
        <td>{{request.clinic_name}}</td>
        <td>{{request.delivery_date }}</td>
        <td>{{request.total_volume}}</td>
        <td>{{request.priority_level}}</td>
        <td>{{request.refrigration}}</td>
       
      </tr>
      {%empty%}
      <p>Looks like the flight does not exist</p>
     
      {%endfor%}
    </table>
  </div>

  <!-- <a href="{% url 'clinic_upload' %}" >
    <button class="GFG">
        Add clinic
    </button>
</a> -->


  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if clinics.has_previous %}
      <a href="?page={{ clinics.previous_page_number }}">previous</a>
      {% endif %}

      <span>
        Page {{ clinics.number }} of {{ clinics.paginator.num_pages }}.
      </span>

      {% if clinics.has_next %}
      <a href="?page={{ clinics.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
  </div>
</main>
{%endblock%}