
footer{
    &.site-footer{
        padding:3rem 2rem 1rem 0;
        font-size:.775rem;
        @media #{$breakpoint-md}{
            padding:2rem 1rem 1rem 0;
        }
        .top-footer{
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            @media #{$breakpoint-ls}{
                @include flex-wrap(wrap);
                @include justify-content-center; 
            }
            .footer-menu{
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;
                @media #{$breakpoint-ls}{
                    @include justify-content-center;
                    @include flex-wrap(wrap); 
                }
                ul{
                    flex-grow: 1;
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    @include flex-wrap(wrap);
                    li{
                        margin-left: 1rem;
                        a{
                            font-weight: 600;
                            color:$body-color;
                        }
                    }
                }
            }
        }
        .bottom-footer{
            padding-top:1rem;
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            @include flex-wrap(wrap);
            p{
                @include display-flex(flex);
                @include align-items-center;
                
                a{
                    color:$body-color;
                    text-decoration: underline;
                    @include transition(all .4s ease-in-out);
                    &:not(:last-child){
                        &::after{
                            content:'|';
                            display: inline-flex;
                            margin:0 .5rem;
                        }
                    }
                    &:hover{
                        color:$primary-color;
                    }
                }
                &.privacy{
                    @include justify-content-start;
                }
                &.copyright{
                    @include justify-content-end;
                }
            }
        }
        .footer-in{
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            @media #{$breakpoint-md}{
                @include flex-wrap(wrap); 
            }
            
            
            p{
                color:$body-color;

                &.footer-right{
                    font-weight: 600;
                    text-transform: capitalize;
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                }
                a{
                    margin-left: .6125rem;
                }
            }
            @media #{$breakpoint-xs}{
                @include flex-wrap(wrap); 
                @include justify-content-center;
                text-align: center;
                p{
                    font-size: .775rem;
                    &.footer-right{
                        margin-top:.25rem;
                    }
                }
            }
        }
    }
}
